[2020-04-16 20:43] g7morris opened #17 "MVP3 - Create gemini, milliner and recast PRs"
Create gemini, milliner and recast PRs - Danny (for Monday if possible)

* Update the https://github.com/Islandora-Devops/isle-dc/ with the appropriate services as needed

* Review and update code from Gavin on the following new fcrepo related microservices, issue PRs as needed.

- https://github.com/Islandora-Devops/isle-gemini
- https://github.com/Islandora-Devops/isle-milliner
- https://github.

[2020-04-16 20:46] g7morris opened #18 "MVP3 - Accept latest alpaca PR https://github.com/Islandora-Devops/isle-alpaca/pull/3"
MVP3 - Accept latest alpaca PR https://github.com/Islandora-Devops/isle-alpaca/pull/3

[2020-04-16 20:47] g7morris opened #19 "Rebuild and push all images to official Islandora Dockerhub repo"
* Rebuild and push all images to official Islandora Dockerhub repo
* Update all docker-compose information with new locations for images

[2020-04-16 20:50] g7morris opened #20 "Merge MVP2a, 2b & 3 https://github.com/Islandora-Devops/isle-dc/pull/6"
Merge MVP2a, 2b & 3 https://github.com/Islandora-Devops/isle-dc/pull/6
Gavin to resolve merge conflicts in PR

[2020-04-16 21:51] g7morris opened #21 "Swapout wodby image with Solr official image work"
- Removes container name values in docker-compose
- Updates solr image with official 8.4.1.
- Adds a few .env values as needed
- Attempts to bind mount config.zip for users to have a unique schema.xml

[2020-04-16 22:27] g7morris opened #22 "Alpaca - Issues with PUTS statements and message striping"
- Alpaca - Issues with alpaca might be solved with switching over to nginx
- Danny L to review once merged and attempt to test via new setup again with nginx

[2020-04-16 22:33] g7morris opened #23 "Properly configured Drupal - Islandora & Drupal installation scripts to be merged"
- The MVP2a [scripts/islandora/install-islandora.sh](https://github.com/Islandora-Devops/isle-dc/blob/development/scripts/islandora/install-islandora.sh) script needs to be merged with MVP2b [scripts/drupal/install.sh](https://github.com/Islandora-Devops/isle-dc/pull/6/files#diff-be7ebffe00e2268d2a10a08c3a47d70c) as [JWT](https://github.com/Islandora-Devops/isle-dc/blob/development/scripts/generat

[2020-04-16 22:36] g7morris commented on #23
@nikathone Please note, the composer.json and .lock files that are in that directory with @dannylamb 's install-islandora.sh script will be removed from here post-merge as they are just placeholders now. I believe your current drupal_init process in the Makefile and install script pulls from the born-digital Github repo https://github.com/Born-Digital-US/drupal-project which is what we want to pre

[2020-04-16 22:38] g7morris opened #24 "Clean up .env and change to sample.env instead with README steps"
- Sample .env - Clean up .env and change to sample.env instead
- add to .gitignore
- Write up steps for how to do this in README

[2020-04-16 22:40] g7morris opened #25 "Write up new README for how to use this merged build manually"
- Write up new README for how to use this build along with paths for materials for Power users
- For now avoiding using Make file due to oddities in testing, this works so far manually:
[code]
* Cleanup and remove old readmes accordingly
* For the future once the Make file is back in play update readmes accordingly

* BONUS: Update with all involved repos especially the https://github.com/Born-Dig

[2020-04-16 22:48] g7morris opened #26 "Update Make file for use again once build is working post-merge"
* Review Makefile again once we get build working with MVP3 and 2 merged.

* Ensure that value of `docker_compose_project ?= ` can be changed from hard-coded islandora to match .env value instead otherwise it appears Docker volumes and container names don't match and cause issues

* Review @nigelgbanks 's suggestion here https://github.com/Islandora-Devops/isle-dc/pull/6#discussion_r409754101 re `

[2020-04-16 22:50] g7morris opened #27 "Toronto is still coming up as default timezone not UTC."
Toronto is still coming up as default timezone not UTC for the newly created Drupal site when resetting admin password.

[2020-04-16 22:51] g7morris opened #28 "Create sql script that creates the FCREPO and GEMINI DBs upon Mariadb init"
- add a .sql script that runs upon the first mariadb init which will create the following:
  -  drupal db along with drupal_db_user and password. (Default already)
  -  fcrepo db along with fcrepo_db_user and password.
  -  gemini db along with gemini db user and password.

[2020-04-16 22:53] g7morris commented on #24
@nikathone Putting your comment from the PR here https://github.com/Islandora-Devops/isle-dc/pull/6#issuecomment-614146082 so we don't loose sight of it and if you also want to work on this.

"For the sample.env I did update the docker-compose.yml accordingly but only focused on drupal and the mariadb services. The other services are using env-file which point to .env and that doesn't make it easi

[2020-04-16 22:55] g7morris commented on #28
Putting my comment from https://github.com/Islandora-Devops/isle-dc/pull/6#issuecomment-614137845

"Changes in direction prior to merge

@niakathone I hate to be a pain but can we revert the current Docker-compose service name changes of drupal_db back to using only mariadb please? I regret wasting your time here, apologies. I'm concerned with a big resource change like having three mariadbs and n

[2020-04-16 22:57] g7morris commented on #27
@nikathone Some history from our [PR convo](https://github.com/Islandora-Devops/isle-dc/pull/6#issuecomment-614147612)

"The process for checking the timezone comes up when I run docker-compose -p islandora exec drupal drush uli, copy the drush uli generated login reset link and open the url in a new browser, change the password and then scroll down to see the timezone which is stuck on Toronto. I

[2020-04-16 22:59] g7morris opened #29 "Replace drupal_db with mariadb in docker-compose.yml due to revert"
From https://github.com/Islandora-Devops/isle-dc/pull/6#pullrequestreview-394019152

One minor fix for the reversion/

"@nikathone This looks good except on line 41 of the docker-compose.yml, should this section of the drupal service that is currently:

    depends_on:
        drupal_db:
           condition: service_healthy

actually be changed to:

    depends_on:
        mariadb:
             c

[2020-04-16 23:02] g7morris opened #30 "User story testing - Build a new site using Fedora with sample data on standard storage"
[STUB] Please build this out for steps for user testing

[2020-04-16 23:04] g7morris opened #31 "User story testing - Build a new site using Fedora with sample data on S3 storage"
[STUB] Please build this out for steps for user testing

Please note Cary Gordon is also interested in testing this and should be included.

[2020-04-16 23:05] g7morris opened #32 "User story testing - Build a new site using Fedora and existing Islandora 7 objects on standard storage"
[STUB] Please build this out for steps for user testing

* Include an updated csv to this effect for migrations. This is meant to test tooling only not metadata conversion or concerns.

[2020-04-16 23:07] g7morris opened #33 "User story testing - Define developer workflow for existing I8 site migration / development"
[STUB] Please build this out for steps for user testing

[2020-04-16 23:11] g7morris commented on #30
@marksandford We'll need to flow in your updated .csv here for all content type migrations. Additional steps will be to make a document that shows a grid / matrix / table of supported content types for import along with appropriate channels / resources for those to read more about or forums where they can direct requests for development etc. (_per our conversation the other day_)

[2020-04-16 23:15] g7morris opened #34 "The drupal.Dockerfile still using registry.gitlab.com/nikathone/drupal-docker-good-defaults/php-nginx:latest for php and nginx base image"
Per @nikathone's comment here https://github.com/Islandora-Devops/isle-dc/pull/6

"The drupal.Dockerfile still using registry.gitlab.com/nikathone/drupal-docker-good-defaults/php-nginx:latest for php and nginx base image but this will change once we have a CI to build images/nginx-php/Dockerfile."

@nikathone Can we make an official Islandora version of this post-merge? We now have control over th

[2020-04-16 23:17] g7morris opened #35 "Move traefik service setup into it's own docker-compose file"
From https://github.com/Islandora-Devops/isle-dc/pull/6

Comment from @nikathone

"Also it might be a good idea to move the traefik service setup in it's own docker-compose file cause ideally they should only be one traefik service per local host."

We should discuss how to do this post-merge.

[2020-04-16 23:18] g7morris commented on #25
We should also include where and what things are e.g. `codebase`, `data` etc.

[2020-04-16 23:21] g7morris opened #36 "Continue testing on Windows post-merge"
@birkland this is a placeholder to continue reporting on testing with Windows. For some reason I can't add you to assignees. Perhaps you haven't accepted the invite to join this repo yet?

[2020-04-16 23:22] g7morris opened #37 "Clean up all wodby tags, envs values etc"
-     Once working remove wodby tags etc from docker-compose and envs.
-   Put in default values in docker-compose and allow users to override

[2020-04-16 23:23] g7morris commented on #36
We've also made some changes with the Mariadb volume that may help to stop some of the issues with permissions on Linux and Windows

[2020-04-16 23:26] g7morris opened #38 "Move fcrepo and fcrepo related microservices to separate docker-compose.yml"
Move fcrepo and fcrepo related microservices to separate docker-compose.yml includes

* gemini
* recast
* milliner
* blazegraph

This allows people to not have to use it when setting up for the first time. Please note the fcrepo & gemini dbs will still be created if only using Drupal.

[2020-04-16 23:26] g7morris opened #82 "Move fcrepo and fcrepo related microservices to separate docker-compose.yml"
Move fcrepo and fcrepo related microservices to separate docker-compose.yml includes

* gemini
* recast
* milliner
* blazegraph

This allows people to not have to use it when setting up for the first time. Please note the fcrepo & gemini dbs will still be created if only using Drupal.

[2020-04-16 23:27] g7morris opened #39 "User story - Migrating the current Islandora 8 Sandbox to ISLE 8"
[STUB] Please build this out for steps for user testing

[2020-04-16 23:29] g7morris commented on #33
From @birkland 's opus [The ISLE 8 methodology](https://docs.google.com/document/d/1cKKHcaIrui5OQZ9J3yXuTc9PX5gjOmni0mDfDez0GH) this could have key concepts to explore and adapt as a framework for this documentation and process.

[2020-04-16 23:32] g7morris opened #40 "Add SYN to isle-fcrepo image"
I think there is remaining work to add SYN and get it working in the isle-fcrepo image?

@dannylamb Apologies if you've already done this but I don't see any commits per se?

https://github.com/Islandora-Devops/isle-fcrepo

[2020-04-16 23:35] g7morris opened #41 "Security - update activemq with configuration fix for login"
Update activemq with configuration fix for login

[2020-04-16 23:38] g7morris opened #42 "Review if tomcat-admin panel is needed for isle-fcrepo image"
Currently the official Tomcat base image doesn't come with a ROOT.war or tomcat-admin panel. Is this wanted or needed?

[2020-04-16 23:39] g7morris opened #43 "Define SSL usage process for LE, commercial and self-signed certs in non-local environments"
Define SSL usage process for LE, commercial and self-signed certs in non-local environments

[2020-04-16 23:39] g7morris opened #87 "Define SSL usage process for LE, commercial and self-signed certs in non-local environments"
Define SSL usage process for LE, commercial and self-signed certs in non-local environments

[2020-04-16 23:40] g7morris opened #44 "Matomo image / container / service to be developed"
Matomo image / container still needs to be incorporated into the docker-compose.yml

[2020-04-16 23:42] g7morris opened #45 "Logging to stderr / stdout for all images"
Logging to stderr / stdout for all images needs to be confirmed and fixed post-merge once everything is confirmed as working.

[2020-04-16 23:48] g7morris opened #46 "Move alpaca connector private image to official Dockerhub"
@birkland https://github.com/Islandora-Devops/isle-dc/blob/development/docker-compose.yml#L243 appears we are still using a private image for the alpaca connector?

Should we be building from https://github.com/Islandora-Devops/isle-alpaca/blob/dev/Dockerfile and pushing to the official Islandora Dockerhub now? I can then update the `docker-compose.yml` accordingly.

(would love to also assign you

[2020-04-16 23:52] g7morris commented on #19
~~- also ? isle-apacha & alpaca-connector in the docker-compose.yml  - cross referenced here https://github.com/Islandora-Devops/isle-dc/issues/46 Check with @birkland prior to moving on this image on that ticket.~~
~~- borndigital/isle-fcrepo:mvp3-alpha~~
~~- borndigital/lyrasis-blazegraph:mvp3-alpha~~
~~- borndigital/isle-houdini:mvp2-alpha~~
~~- borndigital/isle-homarus:mvp2-alpha~~
~~- borndig

[2020-04-16 23:54] g7morris opened #47 "Ensure proper licensing on all images e.g. MIT or GPL3"
Confer with @dannylamb for what is needed here

[2020-04-16 23:56] g7morris opened #48 "Followup on Islandora issue 1466 - review"
From https://github.com/Islandora/documentation/issues/1466
Notes from Developers call
-  Another ISLE fun one. Similar to a previous fix.
-     Get strange error due to syntax issue.
-     74 error, future proof.

[2020-04-16 23:57] g7morris opened #49 "Follow up on Islandora issue 1454 to be fixed and tested on ISLE"
From     https://github.com/Islandora/documentation/issues/1454
Notes from Developers call:

This is one DL found when doing ISLE stuff, Aaron Birkland setup ActiveMQ and Karaf and rightly set it up using a user name and password. DL had issues with using activemq anonymously which is not ideal and should be locked down independent of firewall. Add to config form. Doesn't need to be ActiveMQ but i

[2020-04-17 13:43] dannylamb commented on #47
GPL3 is only for Drupal modules. Everything else, including our Docker repos, should be MIT

[2020-04-21 18:13] nikathone commented on #23
After reviewing https://github.com/Islandora-Devops/isle-dc/blob/06b877b0f010ba6d7884b19e2de6f65c39f0a7c6/scripts/islandora/install-islandora.sh to check what we will need to preserve/reuse in the drupal docker entrypoint. I think

1. The Drupal init script should take care of the [following scripts](https://github.com/Islandora-Devops/isle-dc/blob/06b877b0f010ba6d7884b19e2de6f65c39f0a7c6/scripts/

[2020-04-21 18:17] nikathone commented on #24
Ok. will wait for the merge to see if I can take a stab at this again.

[2020-04-22 18:31] g7morris opened #50 "Media migration error - SQLSTATE[40001]: Serialization failure"
From @marksandford on Slack:

"I've gotten the test ingest files ready to go and zipped up.  Instructions are in the Readme, but it's basically installed as a module and a series of drush commands are run.

One caveat is that I consistently get `SQLSTATE[40001]: Serialization failure` when running the media migration.  Running it again with --update seems to fix it (as described in Readme).   Sett

[2020-04-22 18:34] g7morris commented on #50
@marksandford Perhaps you could include a few more details on the ticket when you have a chance?

What steps are you taking?

Is this the islandora-vagrant VM or the ansible-playbook? etc. etc.

This way we can attempt to replicate on the upcoming merged ISLE docker stack. Thanks!

[2020-04-22 18:49] g7morris commented on #18
@dannylamb Paraphrased from Slack chat:

Should I build a new isle-apaca image and push to the official Islandora Dockerhub and update the Docker-compose.yml accordingly prior to the merge work here? We appear to still be using @birkland 's private image for this purpose I believe.

[2020-04-22 18:52] marksandford commented on #50
I'm using the ansible playbook from here https://github.com/Islandora-Devops/islandora-playbook
Steps are running the playbook as per the readme in the repo, followed by ingesting objects using the zip file here https://drive.google.com/file/d/1T_zD40r6LRHvLyRlqaUCfYe6YjutCfnc/view?usp=sharing  The zip file is based on JHU's work, which in turn based on https://github.com/Islandora/migrate_islando

[2020-04-22 19:14] g7morris commented on #18
@dannylamb , per @birkland 's advice, I've proceeded on the `isle-alpaca` image build. I was able to get an image built but encountered the following message (`client: Ignoring predefined value for KARAF_HOME`) along the way. Is this an issue despite getting an image built?

Please note: I'll be pushing the newly built image `islandora/isle-alpaca:sp4-alpha` shortly and updating the `isle-dc` Dock

[2020-04-22 19:20] birkland commented on #18
@g7morris as far as I'm aware, that message `client: Ignoring predefined value for KARAF_HOME` is benign, and is just a consequence of running Karaf and the client as part of the build process.

[2020-04-22 19:26] g7morris commented on #18
@birkland Thanks for confirming that. I think I'll close this ticket now and testing can resume once pre-merge work has been completed.

[2020-04-22 19:26] #18 closed, assigned to g7morris, dannylamb

[2020-04-22 20:13] g7morris commented on #19
* `borndigital/isle-fcrepo:mvp3-alpha` is now `islandora/isle-fcrepo:sp4-alpha` (DONE)
  * docker-compose updated (DONE)
  * missing work Fixed. https://github.com/Islandora-Devops/isle-fcrepo-base is now `islandora/isle-fcrepo-base:sp4-alpha` (DONE)
  * **BUT** Pending @dannylamb 's upcoming PR for #40 (TO DO)
* `islandora/isle-alpaca:sp4-alpha` built for the first time and pushed to Dockerhub. (

[2020-04-22 20:45] g7morris commented on #40
@dannylamb Just an FYI I've made some updates to this repo and you may want to refresh your local accordingly before posting a PR when you have the chance. Thanks.

[2020-04-22 20:59] g7morris opened #56 "Review needed for comment in PR for isle-hypercube"
@dannylamb Should we rebuild and clear this prior to merge work?

https://github.com/Islandora-Devops/isle-hypercube/pull/7

[2020-04-23 14:01] g7morris opened #59 "Accept PR 16 and work out merge conflicts for latest alpaca"
From PR https://github.com/Islandora-Devops/isle-dc/pull/16

Add this to the README.md

[code]

[2020-04-23 14:02] dannylamb commented on #23
I'm good with pushing all the config and module enabling to core drupal sync machinery.  When going dev -> stage -> prod it makes a lot more sense.

...and maybe I'm being paranoid, but let's at least keep a copy of that init script in history.  Rather not shoot my future self in the foot when something goes bad and I need to completely rebuild.

[2020-04-23 14:44] noahwsmith commented on #40
I assume this task is to complete the SYN configuration with a process similar to https://github.com/qadan/documentation/blob/installation/docs/installation/manual/installing_fedora_syn_and_blazegraph.md#syn

[2020-04-23 14:46] noahwsmith commented on #21
Reference link: https://www.drupal.org/docs/8/modules/search-api-solr/search-api-solr-howtos/geospatial-search

[2020-04-23 14:46] g7morris commented on #40
There is currently the SSL script in `/scripts/fcrepo/` but I'm not clear on where the resulting keys should live.

We're missing the config part `syn-settings.xml` and would need it added to `config/fcrepo`

[2020-04-23 15:12] g7morris opened #60 "Dockerhub - update all image information"
Create READMEs for all Dockerhub images with license information, links to Github Dockerfiles, tag information and image content

[2020-04-23 15:15] g7morris commented on #46
Per https://github.com/Islandora-Devops/isle-dc/issues/19 this task has been completed. PR accepted and new image built. Pushed to islandora Dockerhub

[2020-04-23 15:15] #46 closed, assigned to g7morris, dannylamb

[2020-04-23 17:45] g7morris opened #61 "Review Docker Images& Services for S6 inclusion"
From the April 23 weekly call, @nigelgbanks raised the idea of discussing potentially using [s6-overlay](https://github.com/just-containers/s6-overlay) for

* @dbernstein seconded this for usage pushing log data in fcrepo to a logging service like Cloudtrail.
* @g7morris pointed out that the ISLE 7 project uses this service extensively
  * https://github.com/Islandora-Collaboration-Group/isle-apac

[2020-04-23 19:49] fabianderijk opened #62 "How can we help?"
Hi,

The company I work for would like to start working with ISLE 8 ASAP. Is there some way we can help speed up the development? Is there a backlog of work? Can we do a small conference call to talk things through?

Ik would like to hear from you!

Thanks!

[2020-04-23 20:06] noahwsmith commented on #62
Hi Fabian,

Ongoing project is here, with a pretty full issue queue:
https://github.com/Islandora-Devops/isle-dc/. We'd love to have your
support!

We have calls on Thursday at 1pm Eastern US time (so we just had one 3
hours ago - sorry to miss you). I'd be happy to have a direct conversation
about how you might get involved next week, if you're free? The easiest
place to find me and to be involve

[2020-04-23 20:06] noahwsmith commented on #62
Oh, I realize I can't invite you since I don't know your email. You can register here and find me as noahwsmith https://join.slack.com/t/islandora/shared_invite/zt-dphvbw8i-CvdQSwTEIp93TzLvor67pg

[2020-04-23 21:13] g7morris commented on #22
@dannylamb & @birkland Adding comments here from Danny's last PR

Depends on:
* https://github.com/Islandora-Devops/isle-alpaca/pull/3 (Accepted & Merged)
* https://github.com/Islandora-Devops/isle-dc/pull/16 (Accepted & Merged)

---

Test notes from commit for @birkland

Comment in the build sections for and point to ^^ once it's merged (or pull it in and point to a local copy on disk).

## How t

[2020-04-23 21:14] g7morris commented on #59
PR merged and accepted. Closing Ticket.

[2020-04-23 21:14] #59 closed, assigned to g7morris

[2020-04-27 19:20] g7morris opened #64 "Add Blazegraph init script to Makefile"
MVP3 Blazegraph needs an install script to be added to the soon to be merged in Makefile for this service to start up.

[2020-04-27 20:24] g7morris commented on #20
I've merged this in. Closing ticket and moving towards testing.

[2020-04-27 20:24] #20 closed, assigned to g7morris

[2020-04-27 20:46] g7morris commented on #29
Fixed with this [commit](https://github.com/Islandora-Devops/isle-dc/commit/f61676a212dc3e38f726f034a428f005014b1b05) merged in as well. Closing ticket.

[2020-04-27 20:46] #29 closed, assigned to g7morris

[2020-04-27 22:24] birkland opened #66 "Blazegraph container fails to start on Windows"
Running `make` fails with error:
[code]

changing the volume type to default (rather than `local`) fixes the issue.  As no other volumes have type `local`, it probably makes sense to bring the blazegraph mount in line line with the others.

[2020-04-28 13:41] #66 closed, assigned to birkland

[2020-04-28 17:43] birkland opened #68 "Islandora composer.json is missing dependencies"
Compared to an install via islandora-playbook, the composer.json file from
[Born-Digital-US/drupal-project](https://github.com/Islandora/drupal-project) is missing a couple dependencies:
[code]

For now, it seems the best solution is to update the [Born-Digital-US/drupal-project](https://github.com/Islandora/drupal-project).

[2020-04-28 18:14] g7morris commented on #68
Hi @birkland,

Thanks for spotting this.

I've refreshed the [Born-Digital-US/drupal-project](https://github.com/Born-Digital-US/drupal-project) fork with this [commit](https://github.com/Born-Digital-US/drupal-project/commit/f2a503b2bad4f820b2b0f96c3857ceacb445936b) adding those missing dependencies.

Please retest as needed.

Closing this ticket.

[2020-04-28 18:14] #68 closed, assigned to nobody

[2020-04-29 17:59] birkland opened #69 "Makefile cannot build pre-existing codebases"
If you checkout an existing Drupal site into `codebase` and do `make`, the build will fail with

[code]

[2020-04-29 19:33] marksandford commented on #31
Just to clarify roles... I won't be able to get any money to spin up a new AWS server to test this.  I'm more than happy to help with documentation issues, though.

[2020-04-30 00:06] noahwsmith commented on #69
@nikathone can you propose an alternate command that will perform better?

[2020-04-30 00:11] nikathone commented on #69
@noahwsmith this issue should be fixed once https://github.com/Islandora-Devops/isle-dc/pull/70 is merged. I did propose an alternative approach there and I will wait to see what @birkland think.

[2020-04-30 13:20] birkland commented on #69
@noahwsmith I'm not sure I follow what "perform better" means, but there is the following:

The crux of the issue is that, as it stands, `composer` expects to see a `composer.json` in its working directory [here](https://github.com/Islandora-Devops/isle-dc/blob/development/scripts/drupal/init.sh#L182).  When running `composer` in Docker, its concept of "composer's working directory" is "whatever i

[2020-04-30 15:26] noahwsmith commented on #69
Ok- I'll stand by for Nia's update to https://github.com/Islandora-Devops/isle-dc/pull/70

[2020-04-30 17:08] marksandford commented on #47
Added MIT license to isle-* repos

[2020-04-30 17:21] g7morris opened #71 "Review and flow in elements from - Updates Islandora 8 from 1.0.0 to 1.1.0 gist"
Advise on how to incorporate elements / services/ config changes from recent Islandora upgrade from 1.0.0 to 1.1.0 https://gist.github.com/dannylamb/fc910f4d1730f21191f384d533502e24

This should wait until we have the full stack working again. (4.30.2020) per Weekly meeting standup.

[2020-04-30 17:34] g7morris commented on #23
Also depends on https://github.com/Islandora-Devops/isle-dc/issues/21

[2020-04-30 20:21] g7morris commented on #27
@nikathone Just an FYI that I see this error when I run `make`

`[Warning] One or more build-args [PHP_DATE_TIMEZONE] were not consumed`

Feels like these might be related no?

[2020-04-30 21:02] nikathone commented on #27
@g7morris yes and no. The build args warning is because I didn't add `ARG PHP_DATE_TIMEZONE=UTC` in stage 3 inside the `drupal.Dockerfile`.

The default timezone being Toronto is coming from Drupal config (see the `codebase/sync/system.date.yml` file) which might need to update.
<img width="1021" alt="Screen Shot 2020-04-30 at 4 50 52 PM" src="https://user-images.githubusercontent.com/7364989/8075

[2020-04-30 21:06] nikathone opened #73 "Some networks were defined but are not used by any service: external"
When running:

[code]
or
[code]

Is there any issue to removed unneeded settings from the main `docker-compose.yml`?

[2020-04-30 21:25] g7morris commented on #28
From testing on 4/30 and reporting on the `isle8-architecture` Slack channel:

So it turns out that when I was testing the .sql files / docker-entrypoint.db trick using the wodby image everything worked great upon the first init but the official mariadb image just craters, fails and exits as a container.

The official mariadb dockerhub page encourages folks to use this same method of placing sql f

[2020-04-30 21:32] g7morris commented on #73
@nikathone Are you referring to previous Traefik network settings (from MVP 1, 2a & 3) and container name lines in the docker-compose.yml when you mean "unneeded settings"?

I think we still had some issues with removing these lines when I was testing in MVP3, if I recall off hand the mariadb image didn't work properly as a result and some services could connect like Drupal but others like fcrepo

[2020-04-30 21:42] nikathone commented on #73
Under network in the docker compose there are two networks: external and internal. The `external` network isn't attached to any services.

The `internal` network isn't needed either. The services should be able to talk to each other through [default network](https://docs.docker.com/compose/networking/) and their service names.

[2020-04-30 22:40] jefferya commented on #73
@g7morris : Isle 7 was configured to use and internal/external network , for example, [compose.production.yml#L172-L173](https://github.com/Islandora-Collaboration-Group/ISLE/blob/master/docker-compose.production.yml#L172-L173). Was there a particular Isle 7 use case?

I personally don't have an applicable use case. I'm ok with the simplification assuming is no known use case. I wouldn't want to m

[2020-04-30 23:06] g7morris commented on #73
@jefferya Thanks for the update.

Indeed the only use case we had for ISLE 7 was to use the internal / external functionality and networks to:

- allow an external network for wider public access e.g. a local laptop or in production only allowing ports 80 / 443 to be internet accessible.
- to not fully expose all services and ports publicly (e.g. mysql, fedora, solr) unless a sys-admin or develope

[2020-04-30 23:09] nikathone commented on #73
@g7morris I am a big plus one for the proposed plan.

[2020-05-01 19:43] jefferya commented on #73
@g7morris I like the simplicity to start and can't think of anything that  prevents a change in the future..

[2020-05-01 22:44] jefferya commented on #73
@g7morris I like the simplicity to start and can't think of anything that  prevents a change in the future..

[2020-05-04 18:26] #69 closed, assigned to birkland

[2020-05-04 18:51] g7morris commented on #36
just an FYI @birkland @nikathone that https://github.com/Islandora-Devops/isle-dc/pull/72 has now been accepted and merged in.

[2020-05-04 20:13] g7morris commented on #21
@nikathone & @dannylamb Just a heads up here:

Okay I've done some work on this and it appears that there is a Drupal config change to be made as a result of using the new Solr official image instead of wodby.

In http://idcp.localhost:8000/admin/config/search/search-api/server/default_solr_server/ or `Home > Administration > Configuration > Search and metadata > Search API Solr Server`
  * the se

[2020-05-04 21:56] g7morris commented on #21
Running into challenges currently with the materials extracted from the Drupal `config.zip` (solr_0.x_config)

While I can create a Solr core called `islandora`, sadly it is missing the appropriate `schema.xml`. However in Solr 8.x+, `schema.xml` is considered classic and not the current method of using `managed-schema`. Additionally, despite multiple attempts to bindmount additional files and con

[2020-05-05 14:21] dannylamb commented on #61
I'm looking over the stack right now and seeing blank spots in config files in the pre-built images.  We're `envsubst`ing in the build process, and args aren't getting set right.  But that stuff probably shouldn't be in the build process anyway and we should use confd to template it out in the entrypoint.

If I'm gonna go as far as to do that, we should consider the whole s6/confd combo as an unde

[2020-05-05 14:30] nigelgbanks commented on #61
Sorry for dropping off the radar and not posting sooner, when I went to do some cleanup on what I had locally over the weekend I ended up just spending the whole weekend on it. It's close to be done, but in the process of trying to tidy what I had I broke it. The general idea and layout is there but there are lots of bugs and things that need doing to make it work fully, I think about 2-3 days of

[2020-05-05 14:40] dannylamb commented on #61
Oh snap you've got everything.  Yeah i'm sure it'll need to get looked over thoroughly as it gets wired up.  That's where our current implementation is at.

I'll take a deeper look :eyes: Thanks for dropping it off.

[2020-05-05 14:59] g7morris commented on #73
Closing ticket as @dannylamb merged in https://github.com/Islandora-Devops/isle-dc/pull/74 . Thanks all!

[2020-05-05 14:59] #73 closed, assigned to g7morris

[2020-05-06 14:04] g7morris commented on #21
Repeated from https://github.com/Islandora-Devops/isle-dc/pull/75

 Unfortunately I'm a bit stuck with this error on the Drupal Status page:

![Screenshot from 2020-05-06 09-44-18](https://user-images.githubusercontent.com/501554/81184474-72a09800-8f7e-11ea-989f-34fddb2d6012.png)

After pulling this image settings apart, diffing and reviewing the following Solr settings (schema.xml, solrconfig.xml

[2020-05-06 16:16] g7morris commented on #21
So having thought about this effort further, this doesn't feel like an improvement over the wodby image per se which if I recall wasn't having these issues and was green all the way. I'm going to put this down, make an agenda item to discuss for Thursday's call. Let's hold off on accepting this PR and testing it as there are real blockers that need fixing. If someone wants to pick it up later on a

[2020-05-06 16:17] g7morris commented on #37
Hold on this due to https://github.com/Islandora-Devops/isle-dc/issues/21

[2020-05-06 16:57] g7morris commented on #34
@dannylamb Have you made a new Github repo and Dockerhub image from this?

[2020-05-06 17:52] g7morris commented on #21
Ugh so it appears as a result of the merge, the previously working wodby image is now not working and has the same issues that the previously PR from the schema not being right (Drupal Report Status now indicating `You are using an incompatible Solr schema. ` and the Solr path needing to be `/`. This feels like something changed in the Drupal settings / code level. Putting back on the TO DO list f

[2020-05-06 18:01] g7morris opened #76 "Drupal Solr Search API module reporting issues now on wodby image post-merge"
From https://github.com/Islandora-Devops/isle-dc/issues/21#issuecomment-624796276

Re-testing the current setup has revealed now that the current wodby image and the Drupal build are having the following issues.

* Drupal Report Status now indicating `You are using an incompatible Solr schema`

* Solr path needs to be `/` not `/solr`.

This feels like something changed in the Drupal settings / cod

[2020-05-06 18:02] g7morris commented on #21
Filing a new ticket so these efforts don't cross https://github.com/Islandora-Devops/isle-dc/issues/76

[2020-05-06 18:53] g7morris commented on #28
From a discussion with @dannylamb we might be able to fold the gemini db creation into the gemini image using the symfony console and confd. Consider splitting this ticket into two (fcrepo & gemini)

[2020-05-06 19:08] dannylamb commented on #34
Yeah, I can update that.  I'm rocking the new repo now in my fork and everything works fine.

[2020-05-06 20:48] noahwsmith commented on #26
Sounds like this is in progress from other people. I was going to add this

[code]

but I'll hand this back as I don't have much other input.

[2020-05-06 20:51] noahwsmith commented on #25
Here's my modification of the MVP3 Installation instructions, but I fear things are moving too fast for me to be able to do comprehensive updates.

[code]

[2020-05-06 21:19] g7morris commented on #28
update https://github.com/Islandora-Devops/isle-fcrepo/pull/4

Working fcrepo and tomcat. @dannylamb once accepted, I think you should move onto the SYN part. https://github.com/Islandora-Devops/isle-dc/issues/40 I've pushed to the islandora repo using `latest`

[2020-05-06 22:39] g7morris commented on #26
@nikathone I'd like to assign this to you for testing again post-merge please.

[2020-05-06 22:41] g7morris commented on #17
@dannylamb I think we can just notate the confd & S6 changes here for the microservices.

Also we should just merge in this ticket https://github.com/Islandora-Devops/isle-dc/issues/28 for the Gemini DB creation involving the symfony console as we discussed earlier; "...fold the gemini db creation into the gemini image using the symfony console and confd"

Lastly I have some more information re s6

[2020-05-07 00:11] nikathone commented on #26
@g7morris sure. I should be able to test it before the end of the week.

[2020-05-07 14:15] g7morris commented on #17
Closing this ticket https://github.com/Islandora-Devops/isle-dc/issues/28 in favor of the strategy and work discussed here

[2020-05-07 14:17] g7morris commented on #28
Closing this ticket in favor of https://github.com/Islandora-Devops/isle-dc/issues/17

[2020-05-07 14:17] #28 closed, assigned to g7morris, dannylamb

[2020-05-07 14:39] g7morris commented on #64
https://github.com/Islandora-Devops/isle-dc/pull/79 To be retested

[2020-05-07 14:42] g7morris commented on #26
@nikathone During the course of your testing, can you review https://github.com/Islandora-Devops/isle-dc/pull/6 specifically @nigelgbanks 's recommendation for a fix https://github.com/Islandora-Devops/isle-dc/pull/6#discussion_r409754101

The issue is that the Docker Compose project name doesn't match the Makefile

From that PR:

[2020-05-07 14:50] g7morris commented on #23
@dannylamb & @nikathone What are the next steps with this?

[2020-05-07 14:52] nikathone commented on #23
I @dannylamb is working on getting this done

[2020-05-07 15:39] nikathone commented on #76
@g7morris have you looked at https://www.drupal.org/project/search_api_solr/issues/3070455 especially if we are using drupal search api solr 4.x?

[2020-05-07 18:23] g7morris commented on #76
@nikathone I think the question is if this can be fixed, should we move away from using wodby as the Solr image? (I've put you on this for both images to see what it reveals)

[2020-05-07 18:23] g7morris commented on #21
@nikathone I think the question is if this can be fixed, should we move away from using wodby as the Solr image? (I've put you on this for both images to see what it reveals)

[2020-05-07 18:28] g7morris commented on #61
As agreed on the weekly tech call, @nigelgbanks to give working demo for May 14th call for team review. Thanks @nigelgbanks for doing this. :+1:

[2020-05-12 13:56] noahwsmith commented on #25
@g7morris I did have a second to make the doc PR after I got my local squared away...

[2020-06-04 15:35] #34 closed, assigned to dannylamb

[2020-06-04 15:35] #40 closed, assigned to dannylamb

[2020-06-04 15:35] #41 closed, assigned to nobody

[2020-06-04 15:35] #42 closed, assigned to nobody

[2020-06-04 15:35] #56 closed, assigned to dannylamb

[2020-06-04 15:35] #64 closed, assigned to g7morris

[2020-06-04 15:35] #71 closed, assigned to dannylamb

[2020-06-04 15:35] #76 closed, assigned to nikathone

[2020-06-04 15:36] #22 closed, assigned to birkland, dannylamb

[2020-06-04 15:36] #23 closed, assigned to nikathone, dannylamb

[2020-06-04 15:36] #24 closed, assigned to g7morris, nikathone

[2020-06-04 15:36] #25 closed, assigned to g7morris

[2020-06-04 15:36] #26 closed, assigned to nikathone

[2020-06-04 15:36] #27 closed, assigned to nikathone

[2020-06-04 15:36] #17 closed, assigned to dannylamb

[2020-06-04 15:36] #19 closed, assigned to nobody

[2020-06-04 15:36] #21 closed, assigned to nikathone

[2020-06-04 17:47] highermath commented on #31
I can help with AWS instances.

[2020-06-11 16:29] g7morris commented on #61
This work is now being done here https://github.com/Islandora-Devops/isle-buildkit. Closing ticket.

[2020-06-11 16:29] #61 closed, assigned to nigelgbanks

[2020-06-11 16:32] g7morris commented on #50
This is no longer an issue due to work and improvements here https://github.com/Islandora-Devops/isle-buildkit. Please reopen ticket if this error arises again.

[2020-06-11 16:32] #50 closed, assigned to g7morris, marksandford, dannylamb

[2020-06-11 16:41] g7morris commented on #62
Hello @fabianderijk ,

Just following up here on this ticket, to bring the new https://github.com/Islandora-Devops/isle-buildkit and associated efforts to your attention as well.

Just repeating @noahwsmith 's invitation from above:

We have calls on Thursday at 1pm Eastern US time (including today).

I don't know if you've already had a direct conversation with @noahwsmith yet about how you might

[2020-06-11 16:43] g7morris commented on #82
@dannylamb & @nigelgbanks Do we want to optimize towards this on isle-buildkit?

[2020-06-11 16:43] g7morris commented on #35
@dannylamb & @nigelgbanks Do we want to optimize towards this on isle-buildkit?

[2020-06-11 16:45] g7morris commented on #30
https://github.com/Islandora-Devops/isle-dc/pull/81 is the first start to this needed work.

[2020-06-11 17:02] nigelgbanks commented on #82
Either repository is fine with me, but since it's more of a first time setup probably makes more sense in the isle-dc repo since that's where we will be directing people.

[2020-06-11 17:08] g7morris commented on #82
@nigelgbanks Okay no worries. I'll move this back to `isle-dc` as a future enhancement or workflow.

[2020-07-06 13:32] nigelgbanks opened #84 "Using .localhost as the default causes issues on Chrome when the site isn't hosted on localhost"
Atm we have all the site urls follow this pattern ``SERVICE_NAME.COMPOSER_PROJECT_NAME.localhost`` however this causes issues when the site is hosted on a machine other than ``localhost`` for Chrome, as Chrome does a bit of magic for localhost urls that the other browsers don't do. Likely the only solution here is to drop `.localhost` from our urls and just have  ``SERVICE_NAME.COMPOSER_PROJECT_NA

[2020-07-06 13:32] nigelgbanks commented on #84
Props to @DonRichards for finding this issue.

[2020-07-08 14:39] g7morris commented on #37
Closing this ticket as https://github.com/Islandora-Devops/isle-dc/blob/development/sample.env has no wodby values.

[2020-07-08 14:39] #37 closed, assigned to noahwsmith, g7morris

[2020-07-08 14:40] g7morris commented on #82
Closing this ticket as this work has been completed. All services using separate docker-compose files and Docker-compose extends functionality.

[2020-07-08 14:40] #82 closed, assigned to nobody

[2020-07-08 14:40] g7morris commented on #82
Oh and nice work there @nigelgbanks and @dannylamb . Thanks! :)

[2020-07-09 19:50] nigelgbanks opened #90 "Update readme to account for running on windows and modifications required to support traefik.me"
Users need to manually add the domain to the hosts file as before but only for windows users.

[2020-07-09 19:55] nigelgbanks commented on #84
Was resolved by: https://github.com/Islandora-Devops/isle-dc/pull/89

Now domains are relative to traefik.me by default.

[2020-07-09 19:55] #84 closed, assigned to nobody

[2020-07-09 19:56] nigelgbanks commented on #87
Was this fully covered by https://github.com/Islandora-Devops/isle-dc/pull/89 or do we need to add any more docs? @dannylamb

[2020-07-13 13:24] dannylamb commented on #87
By default, you're getting TLS on local and remote environments using certs for traefik.me.  "Physical files" if you will.  We could make a nod to that in documentation, but we have nothing for Let's Encrypt using traefik labels yet.  That use case still hasn't been tackled.

[2020-07-13 13:37] nigelgbanks commented on #90
Turns out it does work my internet just bad.

[2020-07-13 13:49] nigelgbanks commented on #90
To quick to the gun, there might be a difference between using wsl1/wsl2 in how it functions, more testing needed.

[2020-07-14 01:14] mjordan opened #91 "Running make in master branch results in 'Stop.'"
When I run `make` in the development branch, make runs and generates the expected files. When I run it in the master branch (commit e48f21555f86fce3c9004b58b66621fd34fea3e2), this happens:

[code]

Any suggestions?

[2020-07-14 01:36] mjordan opened #92 "Drush is a requirement on the host?"
Drush 9.0+ is in the "Requirements" list. This is on the host where you're running `docker-compose`?

[2020-07-14 12:54] dannylamb commented on #92
Drush, Composer, PHP and all its extensions, etc... aren't needed for the `demo` environment.  But if you're doing `local`, then you'll want it b/c you're managing the codebase on the host.  You `drush cr` and `composer require` on something locally and it gets reflected in the container.

[2020-07-15 15:34] bseeger opened #93 "ISLE runs slow on a Mac OSX"
I've been running a local setup on my Mac OSX (Catalina) and running into extremely long page load times.  The Manage->Extend page takes just shy of 30 seconds to load.   Many pages take at least 4 seconds to load.   It's a pretty awful developer experience.

@birkland researched adding the `delegated` flag to the volume mount for the website codebase.  It seems promising and I'll submit a PR for

[2020-07-15 17:52] noahwsmith commented on #93
Another note: you can switch to DFM Edge to get better performance https://docs.docker.com/docker-for-mac/mutagen/

[2020-07-16 12:27] DonRichards opened #95 "Drupal ENV ignored"
Docker-compose is ignoring values set during the **makemake/docker-compose up** process. Not sure any other values are being ignored.

docker-compose.env.yml & docker-compose.yml have these values prior and after the make/docker-compose up process.
[code]

Observed the **admin** user has "admin@example.org" with "password" as its password.

[2020-07-16 17:23] noahwsmith commented on #92
I've been running it inside the containers e.g. `docker-compose exec drupal with-contenv bash -lc 'drush updb'`

But you could run it on your local if you have it installed there.

[2020-07-16 18:09] nigelgbanks commented on #93
Fixed by the #94

[2020-07-16 18:09] #93 closed, assigned to nobody

[2020-07-16 18:47] noahwsmith commented on #91
Master is WAY out of date - please do not use. @dannylamb should we delete that branch?

[2020-07-17 12:17] dannylamb commented on #91
We can.  I believe we reference it in the README, which I can update.  Once we have a stable release, let's be cool and put it on `main` instead of `master`.

[2020-07-17 12:19] dannylamb commented on #91
Done. I've updated the README here: https://github.com/Islandora-Devops/isle-dc/pull/96

[2020-07-17 12:22] dannylamb commented on #92
I personally had to install composer and then a handful of PHP extensions (`mbstring`, `pdo_mysql`, and `gd` are the ones I remember of the top of my head), but once done I could just use the copy of drush in the codebase folder.  Specifically, if I'm in `codebase`, I run `vendor/bin/drush cr`.

[2020-07-17 15:49] bseeger commented on #93
@noahwsmith  - thanks I'll check out DFM Edge.

[2020-07-19 19:47] DonRichards opened #97 "Setting IP as host causes issues mariadb"
If you don't know to change docker-compose.drupal.mariadb.yml this will bite you. There is no documentation pointing out this file needs to be change but is needed if assigning an IP or domain.

[code]

[2020-07-20 12:39] dannylamb commented on #97
Nice, thanks @DonRichards.  We just merged that stuff in and your eagle eye found the documentation hole.

Sorry for the inconvenience.

[2020-07-20 12:40] DonRichards opened #98 "https causing issues with iiif"
After ingesting a large tiff open seadragon shows a 500 error.

![Unable to open object Object HTTP o attempting to load TileSource](https://user-images.githubusercontent.com/2738244/88426985-16e8ec80-cdc0-11ea-925c-10fd8d481f6b.png)
Unable to open [object Object]: HTTP o attempting to load TileSource

First time visiting a site that implements an insecure https request will cause the media to loa

[2020-07-20 18:30] DonRichards opened #99 "502 error after editing an object"
After importing an object via migration_islandora_csv I attempted to edit an object. After doing so I get an empty manifest and a 500 error on the object's page.

<img width="276" alt="Screen Shot 2020-07-20 at 2 23 37 PM" src="https://user-images.githubusercontent.com/2738244/87972561-1c2efa00-ca95-11ea-87c9-b50568d411d4.png">

__Manifest__
[code]

Something interesting I saw in watchdog. 2 calls

[2020-07-20 18:31] DonRichards commented on #99
I'm thinking either a routing issue or a form validation issue.

[2020-07-20 18:45] DonRichards commented on #99
Narrowing it down. This error appears when I add an "__Physical Form__" to the form.
<img width="848" alt="Screen Shot 2020-07-20 at 2 42 51 PM" src="https://user-images.githubusercontent.com/2738244/87974166-a0827c80-ca97-11ea-83e7-743365bae75b.png">

[2020-07-20 18:55] DonRichards commented on #99
I'm also seeing it with __Geographic Subject__ & __Subjects (name)__. These are all complete fields. Not sure how it relates

[2020-07-20 18:56] elizoller commented on #99
i just recently merged the PR to update two of the migrate related modules, hoping it's not related to that. but i can test that theory.

[2020-07-20 19:19] DonRichards commented on #99
So I think I've narrowed it down a little further. When I reference a taxonomy term I just created the error happens.
![doctor who meme](https://i.ytimg.com/vi/pbkzfovmaNM/maxresdefault.jpg)

[2020-07-21 17:47] DonRichards commented on #99
Tested this on future.islandora.ca and it works fine but not on a fresh isle-dc build.

[2020-07-22 19:26] DonRichards commented on #98
This is a case of a simple insecure ssl cert resulting in the browser blocking the content until you except the warning. To address this either a create a way the build triggers the warning, fix the cert, or add it to the documentation.

[2020-07-23 14:01] DonRichards opened #101 "Dead link on README"
### Local Environment
This environment is intended for local development. Users will create a Drupal site in the folder **codebase**, which gets bind mounted into the drupal service container. Allowing developers to use composer / drush locally to work out of the **codebase** folder.

CODEBASE links to https://github.com/Islandora-Devops/isle-dc/blob/development/codebase

[2020-07-23 14:13] DonRichards commented on #101
All codebase links are dead.

[2020-07-23 14:32] DonRichards opened #102 "config/sync permissions"
To export all settings the sync folder needs to be set correctly. Ideally this should be set by default

<img width="1262" alt="Screen Shot 2020-07-22 at 10 03 29 AM" src="https://user-images.githubusercontent.com/2738244/88298647-6bf90580-cccf-11ea-8971-2e32258744bf.png">

**To fix**
[code]

[2020-07-27 15:16] DonRichards commented on #98
I as wrong about the workaround (sorta). You will need a fully qualified url. The URL to trigger the request needs to be a full IIIF request. Example: https://islandora-isle-dc.12-34-56-78.traefik.me/cantaloupe/iiif/2/http%3A%2F%2Fislandora-isle-dc-12-34-56-78.traefik.me%2Fsites%2Fdefault%2Ffiles%2F2020-07%2F1005-Service%2520File.jpg

[2020-08-08 21:17] noahwsmith commented on #98
I can verify this issue, and I used the full URL you mentioned. And then I found another issue which is related - to use that fully qualified domain, the certs have to hold up. Some Ubuntu and Alpine distros require the fullchain.pem to allow CURL to work, so I issued a PR: https://github.com/Islandora-Devops/isle-dc/pull/103

[2020-08-10 14:09] dannylamb commented on #98
@DonRichards https://github.com/Islandora-Devops/isle-dc/pull/103 has landed.  Does this solve the issue entirely?  Or just get rid of the warning from your browser?

[2020-08-12 19:44] DonRichards commented on #98
@dannylamb going to test ASAP

[2020-08-12 20:20] DonRichards opened #105 "Use overrides for configuration"
Suggestion: docker-compose.override.yml to set passwords and other options. Have MAKE file generate it to give a simplified file to use.

https://devilbox.readthedocs.io/en/latest/configuration-files/docker-compose-override-yml.html

Please feel free to close if this isn't a good idea.

[2020-08-15 09:03] jmvezic opened #106 "404 not found when using IP address"
Tried this on both a local IP (192.168...) and a Digital Ocean droplet, same thing. Simply returs "404 page not found". Set up the following settings as per the README:

DRUPAL_SITE_HOST=192-168-5-20.traefik.me

Changed all the dots into hyphens as per the README in docker-compose.env.yml

Ran "make" and "docker-compose up -d". When running with default settings (localhost), it works.

[2020-08-27 21:23] jmvezic opened #108 "403 error when installing updates or themes"
Stock idle-dc settings, localhost (https://islandora-isle-dc.traefik.me/). When installing module updates, the site returns

[code]
Installing a new theme returns

[code]

Possibly a problem with permissions?

[2020-08-31 20:16] fostro commented on #106
Any update on this?  I'm seeing the same issue, though I haven't managed to confirm it works with localhost settings instead of an IP address as it's running on a VM without a GUI.

[2020-09-01 13:20] ian-j-stewart opened #110 "Document how to set up letsencrypt"
I have been unable to set Letsencrypt for this stack using Traefik labels. I tried replicating the approach I take in other Drupal stacks but could not get beyond page not found errors in Traefik. I could not get to the bottom of why this was the case - I don't think it was a simple Traefik config issue so it might be a more complex interaction between Traefik and fully qualified domain names set

[2020-09-01 13:46] noahwsmith commented on #106
The way this is set up by default means the Drupal front end will be accessible on this domain if you have entered that IP address:

https://islandora-isle-dc-192-168-5-20.traefik.me/ not simply the domain https://192-168-5-20.traefik.me

That server appears to be off at the moment, or has network settings which block my access. Does that help?

[2020-09-01 14:10] fostro commented on #106
I'm not interested in that address, this was someone else's issue I jumped on since it didn't seem to have been answered.  The issue is a 404 page not found.  You can see the same behavior with a real FQDN at https://islandora8-test.acg.maine.edu using demo mode.

[2020-09-02 09:36] jmvezic commented on #106
@noahwsmith That URL also gives a 404 not found. Both local and remote (DigitalOcean). Maybe there's something missing in the README that makes the IP address variant work?

[2020-09-02 13:27] noahwsmith commented on #106
Run `docker-compose logs -f` to see a log trace. Can you please post the output? You can also shell into the container (`docker-compose exec drupal bash`) and look around at the web root to see if it is all there correctly.

A 404 typically means that the "web" directory hasn't been compiled by Composer, or that your Drupal root bind mount is not pointed at a valid location. My guess is that somet

[2020-09-02 14:30] jmvezic commented on #106
Okay, finally did it. But I don't know which of these two things helped:

Instead of make and docker-compose up -d I ran them with sudo. So

[code]

and

[code]

Also, after running "sudo make" I waited for a while before running "sudo docker-compose up -d" (even after everything was pulled). Maybe this is what @noahwsmith you meant by "which happens behind the scenes in the first 10 minutes the s

[2020-09-08 14:25] noahwsmith commented on #106
The need for sudo indicates some funky file or Docker permissioning- I don't think we want that to be the default. If others replicate this issue, we should solve it at the root so sudo isn't needed (cc @nigelgbanks ). I'll say that I recently spun up a new ISLE8 and didn't need to do any sudoing.

I'm not sure about the maintenance mode- I can't replicate that either.

I agree the docs should upd

[2020-09-09 11:55] jmvezic commented on #106
Made a PR for README update. I will check later today or tomorrow if the same thing (sudo, maintenence mode) will repeat on DigitalOcean with a Debian 10 droplet, and make note of every command I run (and packages installed).

[2020-09-09 12:11] nigelgbanks commented on #106
Might be one or more issues with sudo.

If the user is not a member of the `docker` group, check with `groups` command.

[code]
If a user is not in the `docker` group then they are not allowed to use `docker`, `docker-compose` hence the need for `sudo`.

https://docs.docker.com/engine/install/linux-postinstall/

Additionally the need from `sudo` may also arises from files being created from inside

[2020-09-09 18:45] dannylamb commented on #106
I bumped into that head on when I recently set up a new laptop. Things don't work right if you're not part of the `docker` group. One of many gotchas. We may want to link out to the postinstall docs from the README.

[2020-09-10 13:19] jmvezic commented on #106
Tried doing the same thing on DigitalOcean and now it didn't work. Neither did adding the user to `docker` group. I always get `404 page not found`. It's really baffling and seems random. Order of actions on a fresh Ubuntu 20 droplet:

- Made a user with sudo privileges
- Installed git, docker, docker-compose, make, php, composer (sudo apt-get install...)
- Stopped Apache since it seems to clash w

[2020-09-10 14:27] noahwsmith commented on #106
if you run `groups` you can see if adding your user to the "docker" group has worked. You have to do a full logout/login to get that to stick.

One other thought @nigelgbanks , I wonder if we need to add a non-root user to all the `docker-compose exec drupal` commands so they run as the "islandora" user, or whatever the default nginx user is? I've added `-u islandora` to those sort of commands bef

[2020-09-10 14:40] nigelgbanks commented on #106
@noahwsmith by default they will run as the `root` user. There is an exception in that `drush` has a wrapper script [here](https://github.com/Islandora-Devops/isle-buildkit/blob/main/drupal/rootfs/usr/local/bin/drush#L7) which forces it to run as the `nginx` user. `composer` doesn't force the user but also has a wrapper script [here](https://github.com/Islandora-Devops/isle-buildkit/blob/main/ngin

[2020-09-10 15:18] noahwsmith commented on #106
Well, we don't want the `web` directory owned by root, but maybe we're cleaning that up elsewhere?

[2020-09-11 10:38] jmvezic commented on #106
@noahwsmith I did do a full logout/login, forgot to mention that in the list of steps, right after adding the user to docker group (after installing docker).

[2020-09-11 11:06] jmvezic commented on #106
And now I tried the exact same procedure as described and it's working. I'll try to see what exactly is the problem over the weekend - is it possible that it's some sort of a timing issue on a faster system? Maybe docker finishes up some components before running others?

[2020-09-23 19:28] dannylamb commented on #106
You ever figure out what was up @jmvezic ?

[2020-09-24 18:07] jmvezic commented on #106
I haven't been able to reproduce it again, so it seems I do finally have a workflow that definitely works (I hope so):

- Made a user with sudo privileges
- Installed git, docker, docker-compose, make, php (sudo apt-get install...)
- Stopped Apache since it seems to clash with some other service later (Drupal probaby)
- Installed composer as described here https://getcomposer.org/download/ (no sud

[2020-10-06 21:05] noahwsmith opened #113 "Mac slowness causes "make dev" to fail"
As documented here: https://github.com/Islandora/documentation/pull/1635

The timeout in "create-codebase-from-demo" is too short for macs. The solution is to make it longer. This shouldn't cause issues for faster machines because this is simply a limit on the timeout.

[2020-10-06 21:31] noahwsmith opened #115 "Sed on a mac is different than sed on linux"
https://stackoverflow.com/questions/4247068/sed-command-with-i-option-failing-on-mac-but-works-on-linux

This means that our Makefile needs those extra ` ''` right after the `-i`.

PR coming right up...

[2020-10-07 17:45] rosiel commented on #115
Thanks for the PR - it indeed works on Mac!

Discussion on the Oct 7 Tech call: Gee, we should probably test on Windows too.

@emudojo @birkland ?

Many thanks!
(editing to also tag @marksandford  - hi! I hear you're a windows user too?)

[2020-10-07 17:47] #113 closed, assigned to nobody

[2020-10-08 13:17] rosiel opened #117 ""FITS File" taxonomy term missing external URI"
I just spun up an isle-dc, added an image, and got an error message:

Error generating event: Could not locate derivative term with urihttps://projects.iq.harvard.edu/fits

1 - there should be a space, that's in islandora module, another PR to come.
2 - the term "FITS File", exists in the Islandora Media Use vocabulary but doesn't have any external URI. Is that an ISLE thing? I'm not sure how inst

[2020-10-08 14:50] noahwsmith commented on #117
Related: there's a note in the isle-dc readme that explains this https://github.com/Islandora-Devops/isle-dc/blame/development/README.md#L251 cc @dannylamb who knows more than he wants to about this

[2020-10-08 21:55] jasonhildebrand opened #118 "Unmet dependency error initializing drupal container"
I tried spinning up the docker containers using 'make dev'.  After quite a long time (I believe the 20 minute timeout waiting for drupal to be ready) it failed.  After some digging I ran 'docker-compose logs drupal' and found this error:

[code]

This is probably an upstream issue with the drupal image, but wanted you to be aware that the setup is not currently working.

[2020-10-08 22:01] jasonhildebrand commented on #118
I can't figure out what repo is responsible for pushing the islandora/demo to docker hub, so I don't know where to file this upstream issue.

@dannylamb I saw your name on docker hub, so drawing this to your attention in case you can help.

[2020-10-08 22:33] jasonhildebrand commented on #118
Sorry, I think I jumped the gun on opening this issue.   I was initially trying to use "make dev", but after looking more at the README, it seems like this requires extra configuration.

I have now done 'make clean' and 'make', and this time the setup completed successfully.

[2020-10-08 22:33] #118 closed, assigned to nobody

[2020-10-14 14:04] emetsger opened #119 "Document best practices or tips and tricks for updating or iterating over confd-managed files"
[confd](http://www.confd.io/) is used by ISLE 8 Docker containers to create relevant configuration files at runtime from [template resources](https://github.com/kelseyhightower/confd/blob/master/docs/template-resources.md) and template files.  confd provides a uniform approach for the interpolation of environment variables in configuration files used by ISLE.

For an example, see the `nginx.conf`

[2020-10-14 16:10] nigelgbanks commented on #119
Documenting sounds like a good idea, I just have few wrenches to add about about disabling the `confd` as service. Unfortunately with `s6` there is no way to have a disabled service as far as I could find. So it's keep or remove it as a service. I'm fine either way as I can add the service back in where needed for my use case.

One reason to have `confd` act as a service would be to reload nginx c

[2020-10-14 18:10] emetsger commented on #119
Yeah, I don't mean to imply that `confd` should be removed as a service.  However, you could influence its behavior based on an environment variable.

This might be enabled by supporting an env var like `CONFD_NOOP`, which is used to alter the behavior of the service.  Below is an example; the logic is a bit backward, but nevertheless communicates the general idea.

[code]

[2020-10-15 09:16] nigelgbanks commented on #119
That alone may not do it, there is a `s6`  [finish script](https://github.com/just-containers/s6-overlay#writing-an-optional-finish-script), that is [setup to currently shutdown the container](https://github.com/Islandora-Devops/isle-buildkit/blob/main/base/rootfs/etc/services.d/confd/finish) if the [run script](https://github.com/Islandora-Devops/isle-buildkit/blob/main/base/rootfs/etc/services.d

[2020-10-15 09:23] nigelgbanks commented on #119
I suppose we could always `sleep` to get around the `finish` problem, though that does feel oddly icky. It does require a fixed length of time `2^31-1=2147483647` would be the max number I think it takes, which is like 70 years or some such.

`sleep 2147483647`

[2020-10-15 14:27] emetsger commented on #119
👌 Right!

I thought I tested that diff at one point (the diff that I posted originally) and it seemed to work with no other modifications, but I may be mistaken.  (It was applied against an older version of isle-buildkit then updated to work with the new-ish `confd-render-templates.sh` script, so who knows)

In any case, this discussion is super helpful, thanks @nigelgbanks!

From my perspective,

[2020-10-15 14:53] nigelgbanks commented on #119
Sounds like a good idea for me, I would also put that it should be disabled by default as the use case for running `confd` as a service isn't really fulfilled at the moment.

[2020-10-15 14:59] emetsger commented on #119
Agreed!

[2020-10-15 16:36] rosiel opened #120 "Explain why it's islandora-isle-dc.traefik.me"
So, I realize that there are reasons for using traefik.me that have to do with "treating the URLs as though they were fully qualified domain names" which probably helps the isle containers talk to each other. But for users who are new to sandboxes, https://islandora-isle-dc.traefik.me/ is long and unwieldy and opaque and unfriendly.

I think that it's FAR better to have a confusing and long URL ra

[2020-10-15 16:50] rosiel opened #121 "Document how to update"
Docker makes updating easy, right? Is it so easy that we can provide instructions in the islandora "throw up the simplest isle sandbox with docker" documentation so that someone who's started working on their Islandora sandbox (we're talking the real basic one here) can successfully:

- update their drupal, modules, and themes (related: https://github.com/Islandora-Devops/isle-dc/issues/108)
- upd

[2020-10-15 16:54] rosiel commented on #121
Here are some rough comments regarding updating "the whole dang thing at the isle-dc" level, from a conversation with @dannylamb. I'm taking it out of the initial "docker documentation" pr because it's too incomplete.

[2020-10-15 19:27] rosiel opened #122 "Installation: `make dev` leaves the containers running"
As both @seth-shaw-unlv  and I experienced, using the isle-dc with `make dev` resulted in being able to access our site at https://islandora-isle-dc.traefik.me/, even **without** doing `docker-compose up -d`.  I heard that the expected behaviour was that when `make dev` finished, the containers were supposed to be shut down.

[2020-10-26 15:15] ian-j-stewart opened #124 "PHP Fatal error: Interface 'Psr\EventDispatcher\EventDispatcherInterface' not found in /var/www/drupal/web/modules/copy/contrib/search_api_solr/src/Solarium/EventDispatcher/Psr14Bridge.php on line 12"
I get the following error when running make hydrate as the last step of the following install process.

Installation process: make codebase from demo, docker-compose up, make hydrate.

PHP Fatal error:  Interface 'Psr\EventDispatcher\EventDispatcherInterface' not found in /var/www/drupal/web/modules/copy/contrib/search_api_solr/src/Solarium/EventDispatcher/Psr14Bridge.php on line 12

I believe thi

[2020-10-26 15:18] ian-j-stewart opened #125 "RDF UI Module"
The drupal contrib RDF UI module is downloaded by default when deploying from demo. It is perhaps an unnecessary module (?).  The current release of the module on drupal.org has a bug that breaks the site when enabled. This has to do with a dependency conflict regarding easyrdf.

Error: Class 'EasyRdf\Graph' not found in Drupal\rdfui\EasyRdfConverter->createGraph() (line 68 of /var/www/drupal/web/

[2020-10-26 15:26] ian-j-stewart commented on #120
I believe an alias (i.e. domain name or whatever) can be created for this site simply by adding it to two places in the docker-compose.yml file. (n.b. should probably be edited in the docker-compose.drupal.yml file before the make command is run so that the change is persistent.

Be careful when editing this file as the quote character is ` rather than the usual '.

So for example, in my test site

[2020-10-26 15:32] ian-j-stewart commented on #87
The manual approach to creating ssl certs for ubuntu is described here. After running through this, the certs can simply be copied over to the /certs folder.
https://medium.com/@__timam__/generate-let-encrypt-ssl-certificate-manually-febc949510c2

[2020-10-26 15:41] rosiel commented on #120
Super good to know! That's a real domain, though!

My context was: I was writing the documentation on "how to spin up Docker as a development environment" and for folks who are used to dev VMs, domains like 'localhost' or 'localhost:8080' or 'drupal.dev' are more common and understandable. What's with the super long https://islandora-isle-dc.traefik.me/ ? Is there a reasonable thing that it could

[2020-10-26 15:56] ian-j-stewart commented on #120
Yes, fair. I have been working through how one could deploy in production for a personal project I am interested in pursuing. Maybe I can add a comment here, however, as I didn't at first take this page as being about deploying for development purposes only.

https://islandora.github.io/documentation/installation/docker-compose/

I wonder if / when documentation for deploying to production will be

[2020-10-26 16:08] rosiel commented on #120
Yes - i understand that there's a `make prod` command but that it's not fully functional yet.

When that's ready, I think it would make sense to split out the 'how to launch a simple dev ISLE' from 'ISLE Reference Guide' and 'What you have to do to use ISLE in production' . (neither of which exist yet).

I was recently reminded of Conway's Law: "Your software's structure will reflect your organiza

[2020-10-26 16:43] ian-j-stewart commented on #120
The idea of a make prod command is interesting. Would it be worth creating an issue specific to the fleshing out of that?

[2020-10-26 16:53] rosiel commented on #120
@dannylamb

[2020-10-26 20:08] noahwsmith commented on #120
I believe this is one of the objectives for the upcoming ISLE sprint https://islandora.ca/content/isle-sprint-november-2nd-13th

[2020-11-04 14:50] DanRoller commented on #106
I also got a 404 last night, but I don't know what to make of the above discussion and the documentation for
DRUPAL_SITE_HOST=traefik.me
in .env and IP address in docker-compose.demo.yml

My home world has Windows 10 with IP address of 192.168.1.200 and the VirtualBox/Ubuntu for which I'm trying to do ISLE using https://github.com/Islandora-Devops/isle-dc has IP address 10.0.2.15.

What is your su

[2020-11-04 15:33] dannylamb commented on #106
Sorry to hear you're having such a tough time with it @DanRoller.  It is functional, but still farily new, especially Windows support. The community is currently sprinting on ISLE, and hope to improve both isle-dc and its documentation within the next two weeks. If we could resolve whatever you're running into during that process, it would be great.

The traefik.me deal is to get around having to

[2020-11-04 16:47] DanRoller commented on #106
I have been following lots of paths and getting stopped at each.
I disabled WSL and when to VirtualBox/Ubuntu when ISLE was version 7 and it used port 80.
Port 80 mucked with my family/development ISS that also demanded port 80. I spent more time starting and stopping various environments that looking at Islandora.

I'd go back to the WSL world (trashing VirtualBox/Ubuntu that is an incompatible V

[2020-11-04 17:15] DanRoller commented on #106
Restarted, went biking, used suggestion http://islandora-isle-dc.traefik.me
and I'm in with admin/password

I'm confused but I getting use to it!
Thanks

[2020-11-04 20:00] dannylamb commented on #106
@DanRoller Glad to hear you got it working.  If you've got it working I wouldn't touch it, but just FYI when you're running `make`, part of what it's doing is generating a `docker-compose.yml` file.  At any point in time, if you wanna play with things like changing ports, you can edit that file.  And if you mess things up, you can just regenerate it with `make docker-compose.yml` to get back to a

[2020-11-05 15:00] jjakob commented on #95
I thought I had this issue initially as I couldn't log in with admin@mydomain.com. The problem was I was trying the wrong username - it's just "admin". The environment only sets this "admin" user's e-mail and password.
So I can't replicate this now with the latest development branch, the e-mail and password are set correctly for the admin user in drupal.

[2020-11-12 21:22] emudojo opened #128 "BusyBox patch needs to be replaced by GNU patch on the drupal image"
when attempting to apply a patch using composer we get errors, until we manually do apk add patch to replace the one that comes bundled with GNU's one

![image](https://user-images.githubusercontent.com/445995/98997860-d6da8080-24fa-11eb-9237-208fbb52bb8d.png)

[2020-11-19 18:35] emudojo opened #129 "Cantaloupe failing on big files?"
I'm getting this after testing a 60MB TIF file

`2020-11-19 18:03:32,957 DEBUG [http-nio-8080-exec-13] e.i.l.c.r.HandlerServlet [HandlerServlet.java:124] Responded to GET /iiif/2/http:/islandora-isle-dc-54-236-80-217.traefik.me/_flysystem/fedora/2020-10/tides-malta_page_1.jpg/0,0,3167,4096/792,/0/default.jpg with HTTP 200 in 1487 msec
2020-11-19 18:04:09,808 INFO [http-nio-8080-exec-4] e.i.l.c.r.i

[2020-12-02 15:36] emetsger commented on #128
@emudojo Just saw this, if you look at https://github.com/Islandora-Devops/isle-buildkit/pull/79, GNU patch has been added to the `drupal` container.  You may need to insure you're using a recent buildkit image.

[2020-12-02 20:13] rosiel commented on #121
(notes to whoever documents this ticket) I found that if I had already done `make dev` and wanted to completely re-install islandora, i.e. i'd done some weird stuff in my Drupal and I wanted a "clean reset to stock isle", then I had to

[code]
TBC when/if this completes.

[2020-12-03 14:54] rosiel commented on #120
This seems to have been addressed in the code, but now the tutorial and readme are incorrect.

Tutorial PR: https://github.com/Islandora/documentation/pull/1720
README ticket: https://github.com/Islandora/documentation/issues/1712

[2020-12-04 19:48] emudojo commented on #128
Closing thanks.

[2020-12-04 19:48] #128 closed, assigned to nobody

[2020-12-29 10:54] Tristaan opened #134 "Drupal container for_all_sites script"
Hello, I am interested in the whereabouts of the for_all_sites script because a lot of the make commands are using this script. When execing into the image the file is nowhere to be found, but the commands execute successfully. I want to see the code of it so I can exactly see what's going on.

[2020-12-29 11:00] Tristaan commented on #134
The for_all_sites function is available in /etc/islandora/utilities.sh. What it does it that selects all sites for a specific task accepted as an argument.

[2020-12-29 11:00] #134 closed, assigned to nobody

[2020-12-30 13:49] Tristaan opened #135 "Search request not passed to Solr"
So I have setup isle-dc with some test content. The content gets indexed into solr without an issue, that means the connection to solr is set up, but when searching, the request does not get passed to solr (no info in logs). Queries by hand return the correct search results.
So something happens within drupal that does not forward the request to solr.
I tried using search_api_solr_devel and it doe

[2021-01-07 08:57] Tristaan commented on #135
Fixed it with configuration changes in the search view.

[2021-01-07 09:17] Tristaan opened #136 "[error] The Flysystem driver is missing."
When i run make install the installation script returns the error in the title. There is a flysystem driver inside the composer file, so it should be there.
I follow the installation procedure for local. I don't do anything special, just follow the readme.

[2021-02-16 14:12] saga0914 opened #139 "Does not work for " https://islandora.traefik.me/""
First, I follow this document (https://github.com/Islandora-Devops/isle-dc)

Problem:
When I put URL: "http://islandora-isle-dc.traefik.me/"
![1](https://user-images.githubusercontent.com/7763459/108073227-c70c9400-7035-11eb-98bf-b3b5fe46e4ef.PNG)

In steps from the documents
![image](https://user-images.githubusercontent.com/7763459/108073393-fa4f2300-7035-11eb-82c6-f7f9e73acf1f.png)

When I wrot

[2021-02-16 14:14] noahwsmith commented on #139
Quick thing- try https://islandora.traefik.me - maybe the docs are out of date.

[2021-02-16 14:19] saga0914 commented on #139
I tried the URL,but it has same error.
![image](https://user-images.githubusercontent.com/7763459/108075211-194eb480-7038-11eb-84df-9b9dfa148089.png)

[2021-02-16 16:40] #91 closed, assigned to nobody

[2021-02-16 16:41] #98 closed, assigned to nobody

[2021-02-16 18:27] #115 closed, assigned to nobody

[2021-02-17 14:43] mjordan commented on #139
`docker-compose up -d` runs clean, no errors as above, and I am getting a 404, not an ERR_CONNECTION_REFUSED.

But like above, `make` doesn't create a  `docker-compose.env.yml`.

[2021-02-17 18:38] noahwsmith commented on #139
@dannylamb just released a bunch of code - I don't have time to verify or fix right now, but maybe he could?

[2021-02-17 19:43] saga0914 commented on #139
For my understanding, "docker-compose up -d" means hiding the running process so it does not mean working well (I think)

[2021-03-03 15:42] rosiel commented on #121
to this, I'm adding that when @dannylamb and I went through "setting up a site from a composer.json file", we:

- `make dev ` (this failed)
- checked that the codebase folder included composer.json
- went into the codebase folder and deleted everything except composer.json. required sudo.
- `docker-compose down -v` just to make sure
- vim the `.env` file and set `ENVIRONMENT=local`
- from within t

[2021-03-19 18:52] nigelgbanks opened #141 "Use of sudo in make file can block users from installing if they do not have passwordless sudo"
For example

[code]

[2021-03-19 18:53] nigelgbanks opened #142 "Use of external network in Drupal image causes issues"
Users need to be able to access github etc

[2021-03-19 18:54] nigelgbanks opened #143 "Document and allow for multiple concurrent isle-dc"
Allow them to share a traefik, (move to shared project)

Document.

[2021-03-19 19:02] rosiel opened #144 "Unable to install modules islandora, search_api_solr due to missing modules: search_api_solr."
During `make local`, isle-dc fails because of lacking search_api_solr.

@ajstanley finds the only way to do this is to watch the filesystem like a hawk during make local, and once the codebase folder is created, go into it and enter `composer require 'drupal/search_api_solr:^1.10'` _while make is busy running_.

I have not figured out if this is possible yet because I dont have his PHP monitoring

[2021-03-19 19:22] nigelgbanks commented on #141
We should use sudo inside of a container instead to prevent issues

[2021-03-19 19:51] noahwsmith commented on #141
Yea our `docker-exec` commands run as root, so this is pretty straightforward- I definitely agree.

[2021-03-22 19:23] DonRichards opened #145 "Microservice failures should be more obvious"
When a failure happens downstream (like Hypercube failing to execute a task) a message should be passed to watchdog to improve transparency for admins.

[2021-03-29 19:13] saga0914 opened #149 "Timed out waiting for database connection"
![image](https://user-images.githubusercontent.com/7763459/112887274-f71d6d00-90a0-11eb-94b3-31c6558fecd9.png)

I was in the step : make demo

Could you guide me to fix that, please?

[2021-03-29 19:14] #139 closed, assigned to dannylamb

[2021-03-29 19:47] dannylamb commented on #149
Hi @saga0914, is this from the `development` branch? Also, can you confirm the mariadb container is running with `docker ps -a`?

[2021-03-29 20:16] saga0914 commented on #149
I think I download the project from https://github.com/Islandora-Devops/isle-dc . I guess it is 1.0.0 Alpha 1 ?
When I typed the command, mariadb_1 is up but drupal_1 and crayfits_1 are Exited.

[2021-03-29 20:23] dannylamb commented on #149
There were some issues with that build. We've addressed a lot of it recently on the `development` branch.  Would you mind trying that out and letting me know?

If it's still problematic after that, we'll have to get into how you're running it, `make demo` vs `make local` and try to further diagnose.

[2021-03-30 14:05] saga0914 commented on #149
I tried on the development branch and it is same error "Waiting for 3306 on mariadb to open"
Also, I tried "make local" in development branch and this is issue:
![image](https://user-images.githubusercontent.com/7763459/113002064-6fd30680-913f-11eb-9926-322a2689e64c.png)

[2021-03-31 14:06] dannylamb commented on #149
@saga0914 Could you pop into one of the other containers that manage to stay up and see if you can log into mysql?

Supposing the fcrepo container is up, try

[code]

to log into a shell, and then

[code]

to open the client.  Depending on how that goes, we can try some other things to figure out what's going on.

[2021-04-02 12:40] mdlincoln commented on #117
just chiming in to say that running from d4bdd906bfc0e590051902d9fbafa0e9c30e48bc still has this error

[2021-04-12 13:11] saga0914 commented on #149
Sorry for late response. Now, When I tried to "make demo" in development branch, it says:
![image](https://user-images.githubusercontent.com/7763459/114399298-c5130d00-9b6e-11eb-9128-5b2331b1c8d6.png)

[2021-04-12 13:36] saga0914 opened #152 "Which branch does it work for islandora with docker?"
I saw there are five branches. Which one does it actually work for isle-dc? I don't care about demo or local.

[2021-04-12 19:01] dannylamb commented on #152
Hi @saga0914, the development branch of isle-dc should work for you.  I've been tagging alpha releases in GIthub that should all work out as well.  I've used the latest (1.0.0-alpha-3) quite a bit and it works well for me on Ubuntu 20.04.

I'm not sure what environment you're on, but there's folks in our community who are running ISLE on Windows/Mac/Linux who can probably help you. I would try rea

[2021-04-16 14:03] olendorf opened #155 "Installation: `make local` fails trying to find Nginix"
I am trying to set up a development environment on docker. `Make demo` works fine, but we would like to try different modules and themes as well. When I run `make local` I get the following.

[code]

As a hail mary I also tried `sudo make local` with the same results.

[2021-04-22 17:40] misilot commented on #144
I believe this was fixed in #146 by removing the line `docker-compose exec -T drupal with-contenv bash -lc 'drush -y en islandora search_api_solr'`

[2021-05-11 18:21] bondjimbond opened #161 "Installation: 'make local' and 'make demo' failing on Mac"
Fresh install of isle-dc, after a complete prune of Docker - cannot get isle-dc to work.

Here's the output of `make demo`:

[code]

Similar results for `make local`.

@dannylamb tried replicating on his machine (not a Mac) and could not duplicate the problem. Would appreciate if a Mac user could attempt.

[2021-05-14 18:55] g7morris commented on #161
Also confirming what @bondjimbond found already; `make demo` is failing on an Apple M1 Mac Mini.

Running the following:

* macOS Big Sur (version 11.3.1)
* Mac mini (M1, 2020) with a Apple M1 chip
* Memory 16 GB
* Docker desktop for Mac is version `3.3.3 (64133` ARM version

Steps taken

* `gh repo clone Islandora-Devops/isle-dc`
* `cd isle-dc`
* `make demo`

Failure output:

[code]

[2021-05-17 15:06] bondjimbond commented on #161
Glad it's not just me!

[2021-05-17 15:06] bondjimbond commented on #161
To add some info: Mac Mini 2018, I7 processor, 32 GB RAM, Catalina

[2021-05-21 15:32] bseeger commented on #161
Can you put in log info from `docker-compose logs -f`? - I'd run that from another terminal and start it as soon as the `Creating ...` lines start.  I'm not sure if you'll get much, but it could be helpful to debug.

[2021-06-07 22:02] jasonhildebrand opened #163 ""Extract Text from Image or PDF" not working"
I installed a fresh instance of Islandora using isle-dc, but cannot get text extraction to work.  I'm new to Islandora (but familiar with Drupal 8 and docker).  I watched the Paged Content webinar from last year and checked the docs, so that's what I'm going on.

What I tried:
 * created a new repository item using Model "Digital Document".  Save.
 * Go to Media and use "Add Media", select "File".

[2021-06-30 09:47] Tristaan opened #165 "Use live and template secrets so git won't complain"
As I have seen this in other projects I recommend this be done here as well.

So what I recommend is that the secrets folder has two subfolders called `live/` and `template/`. The template folder should have all the secrets in it that are required by docker-compose and should be left untouched. Then there should be a make command used to generate secrets inside the live folder (with or without pas

[2021-06-30 17:21] noahwsmith commented on #165
I like this approach. The only flaw I see is that for some secrets you may want to set a value and have it stick, e.g. https://github.com/Islandora-Devops/isle-dc/blob/development/secrets/DRUPAL_DEFAULT_CONFIGDIR . How would that be accomplished in this structure?

CC @g7morris who I know is also interested in this topic.

[2021-07-02 10:15] Tristaan commented on #165
The generator would generate from existing template files and would just
treat some files as exceptions and act accordingly. Nice that you pointed
that out.
So, a Makefile command that generates secrets, this command will have three important variables, one for all the secrets that should be built with a a password generator, one for all the secrets that are certificates (here are a couple of exce

[2021-07-02 16:06] noahwsmith commented on #165
Ok- sounds like an excellent approach. I'd say go for it!

Other interested parties may be @dannylamb and @nigelgbanks

[2021-07-06 10:06] terrywmc commented on #163
Same here, I installed the demo app with the default config, and uploaded a tiff file for testing. no extracted text was created.

Checked the ActiveMQ panel, there was no consumer connecting to the queue "islandora-connector-ocr" and "islandora-indexing-fcrepo-file-delete".

For the ocr queue,  It was discovered that the reason was the incorrect karaf setting for the following. I updated the para

[2021-07-06 14:34] dannylamb commented on #165
I have no issues with that approach @Tristaan . Sounds better than live editing secrets.

[2021-07-08 15:16] nigelgbanks opened #166 "Wrap boolean values in quotes to support docker-compose v2"
Errors like the following arise if using docker-compose V2.

<img width="1262" alt="image" src="https://user-images.githubusercontent.com/487373/124947474-c33ed580-e007-11eb-9389-4bda9a0a74d9.png">

[code]

They can be resolved by putting those variables in double quotes. See:

https://github.com/docker/compose/issues/8097

[2021-07-14 14:14] mxMiles opened #168 ""make local" failing on Centos7"
Steps taken:

- git clone https://github.com/islandora-devops/isle-dc
- cd isle-dc
- make local

[code]

**Expected results**
'make local' exits without an error and I'm able to start islandora with 'docker-compose up'.

[2021-07-16 14:50] dannylamb commented on #168
Looks like port 8082 is already in use on your machine.  Is there something running on that port by default on centos? We can always bump the port number if we have to.

[2021-07-16 15:15] dannylamb commented on #166
@dwilcox ran into this, too.  It's a thing.  We should probably jump on this one soon.

[2021-07-19 17:38] mxMiles commented on #168
Thank you! There _was_ something running on that port. I killed several things (arclight, archivesspace, and httpd), ran `make local` again and it exited happily. Then, I ran `docker-compose up` and it looks like it's all working.

What's the proper way to bump the port number(s)? On an earlier attempt at installing, I edited `docker-compose.traefik.yml` so that the ports were like

[code]
but tha

[2021-07-23 14:09] bondjimbond opened #170 "Add PHP upload and memory limits to sample.env and docker-compose.drupal.yml"
Looking to expose the following PHP variables so they can be quickly and easily changed in ISLE:
[code]

To my understanding, we'll need to add them as variables in `sample.env`, and then reference them in the `environment` section in `docker-compose.drupal.yml` to get them from `.env` into `php.ini`.

I'll make an attempt at this, but also open to someone more competent giving it a go.

[2021-07-23 15:50] misilot opened #172 "Ability to specify restart policy for containers"
The ability to specify the restart policy in the .env file would be great!

For example to be able to specify one of the following: no, on-failure, unless-stopped, always

[2021-07-26 15:52] nigelgbanks opened #175 "Support for using Secrets on Windows?"
I noticed while reviewing I don't think isle-dc secrets work with Windows Docker for Desktop? Was reading through the docs and found this: https://docs.docker.com/engine/swarm/secrets/#windows-support.

Gonna spin off into a separate ticket.

[2021-07-27 01:08] kayakr commented on #163
@jasonhildebrand @terrywmc An issue re routing requests to hypercube was recently fixed, see https://github.com/Islandora-Devops/isle-buildkit/pull/152

[2021-07-27 12:57] misilot commented on #172
Resolved with #173

[2021-07-27 12:57] #172 closed, assigned to nobody

[2021-07-27 14:59] jasonhildebrand commented on #163
@kayakr Thanks for the heads-up.  Working on a different project right now but I will re-test when I am able.

[2021-07-29 11:44] vanalosil opened #176 "Not indexing in Fedora correctly"
Hello,
We have installed ISLE 8 on a Linux server with docker following the instructions on the page https://github.com/Islandora-Devops/isle-dc (commit 9e398b9fde9b59e5fd916ef286eef9c795970ed4)
We have not yet made any changes to the installed islandora instance, however, we see that it is not syncing with Fedora and we are not clear why since, as I say, we have not made any changes.
Fedora is em

[2021-07-29 16:05] #170 closed, assigned to nobody

[2021-07-30 14:27] bondjimbond opened #177 "Document log location"
I've been having trouble finding the PHP error log and other logs. I don't believe the locations of these logs (both which container they're in and the paths within those containers) are documented anywhere, but they're necessary for troubleshooting. Can we make this information easy to find?

[2021-07-30 15:19] noahwsmith commented on #177
The best way to view the logs is as a real-time stream. Run `docker-compose logs -f drupal` to see the Drupal logs

[2021-07-30 17:28] bondjimbond commented on #177
Thanks... Is that documented anywhere?

[2021-07-30 20:54] bondjimbond opened #178 "Site breaks when Context is updated"
If you run a `composer update` and the latest version of Context is pulled in, the website stops working: "An unexpected error occurred".

Setting Context to an earlier version `composer require 'drupal/context:4.0-beta6'` brings the website back.

Need to figure out where the conflict is.

A snippet of my logs during the error:

[code]

[2021-08-02 16:55] noahwsmith commented on #177
I guess not - I suppose it should be mentioned here:

https://github.com/Islandora-Devops/isle-dc/blob/development/docs/troubleshooting.md

[2021-08-04 17:53] bondjimbond commented on #178
From the tech call: apparently the best solution to this is to upgrade to Drupal 9. But there are some complexities, as a lot of the default modules and themes require Drupal 8.

[2021-08-09 14:19] bondjimbond opened #180 "Wrong default Solr path in search_api_solr."
I discovered in my ISLE-DC implementation that Solr wasn't working because the [default path was incorrect](https://islandora.slack.com/archives/CM6F4C4VA/p1628262024019500).

In the `search_api_solr` connector config, the default path is given as `/solr`.

![](https://files.slack.com/files-pri/TLL690XEU-F02A1FJT6AK/screen_shot_2021-08-06_at_2.48.40_pm.png)

This means that the the service is tryi

[2021-08-11 18:56] thomasdeater commented on #161
On a 2019 iMac (Big Sur 11.4), I'm having the same issue with 'make local'. However, 'make demo' worked for me in a freshly-cloned repo.

EDIT: this was in the 'development' branch. I'm now trying the 'make-local-from-demo' branch per Danny's presentation (https://www.youtube.com/watch?v=RH-8odW2Fm4) and seem to be having better luck.

[2021-08-12 18:06] mxMiles commented on #168
Oh! Figured it out. I needed to run make local. Ports are doing what ports should do.

[2021-08-12 18:06] #168 closed, assigned to nobody

[2021-08-14 03:33] lsempe77 opened #181 "Problem running demo in Windows"
Hello,

When I run make demo in Windows 10 (using cygwin) and end with the following error:

This is the output:
Unable to find image 'islandora/drupal:1.0.0-alpha-6' locally
1.0.0-alpha-6: Pulling from islandora/drupal
ba3557a56b15: Pull complete                                                                                             4b5e1d09c4c6: Pull complete

[2021-08-17 14:10] Tristaan commented on #155
Have the same error make local should use the tagged release of nginx from islandora.

[2021-08-18 11:30] Tristaan opened #182 "make local: error while doing make install"
Hello,
there is an error happening while running make local, the error happens while calling `install-drupal-site.sh`, I don't know the exact parameters passed, but there must be something wrong with them.
So running make install triggers the following error:
[code]
To circumvent this issue I did a manual site install using drush inside the container with `drush site:install --use-existing-config

[2021-08-18 11:56] #165 closed, assigned to Tristaan

[2021-08-24 09:39] Tristaan commented on #182
Found the culprit, the settings.php file does not get regenerated, it stays the same on every rebuild. so removing settings.php is necessary before running make local, this is because of different secrets on every recreation. so what should be done is a removal of settings.php if an existing codebase is used. I have a snippet ready:
[code]

Need some confirmation that it's a good idea.

[2021-09-24 07:22] pautri opened #184 ""make" not working with docker-compose V2 enabled"
if the "Use Docker Compose V2 release candidate" experimental feature is enabled (Docker Desktop 4.0.1 Mac Intel), make demo/local fail almost immediately and only a 0 byte docker-compose.yml file is written. I don't recall enabling this myself, it seems to be turned on by default now (see https://github.com/docker/for-mac/issues/5800#issuecomment-896082487)
[code]

[2021-10-08 17:35] bseeger commented on #141
This really is a good blocker for those that don't have admin access on their machines.   It would be good to note (until this is fixed) in the docs that users must have admin privileges to their machine.

I am hitting this on a mac and was wondering what password it was expected when I was prompted for one.

[2021-10-08 18:34] noahwsmith commented on #141
@nigelgbanks I see three SUDO's in the Makefile. Could you recommend an alternate way to handle these?

https://github.com/Islandora-Devops/isle-dc/blob/development/Makefile#L110
https://github.com/Islandora-Devops/isle-dc/blob/development/Makefile#L130
https://github.com/Islandora-Devops/isle-dc/blob/development/Makefile#L344

[2021-10-11 14:23] DonRichards commented on #184
Same here. I can confirm this is the issue. By disabling 2.0 the build starts working. This needs to be fix before the next Docker Desktop release. They are planning to remove the revert docker-compose version option.
<img width="1220" alt="Screen Shot 2021-10-11 at 10 24 44 AM" src="https://user-images.githubusercontent.com/2738244/136807327-18108eb8-833f-41cd-823f-f89a49c223b0.png">

[2021-10-11 16:16] nigelgbanks commented on #141
You can use the containers to get around it since the user inside the container is typically root, so for cases where you need `sudo` access on the host you can mount the file system in the container and do the same command without `sudo`.

[code]

[2021-10-14 17:48] DonRichards commented on #184
A different error related to this:
[code]

### To fix this within Linux
This is a versioning issue. As the title of this ticket suggests, there is an issue with running the latest docker-compose version (2.x). This is how to roll it back to the latest major version 1.2x.x
[code]

[2021-10-27 12:32] ajstanley opened #189 "Builds fail with code-server activated."
if secrets are set to true in sample.env the following error breaks the build.
`Service "code-server" uses an undefined secret file`

If secrets are not set to true, the build will continue, but fails after all the containers are built with
[code]
Adding the secret manually doesn't help.

[2021-10-29 14:51] RaspberryProgramming opened #191 "Unexpected error after adding any type of content in any way"
### Description
I've been trying to get a local environment setup with Islandora. I found this repository and the tutorial on islandora.ca for installing on docker. I was able to get this all setup via the local setup, and when I add content it would basically give me a

error. My goal is to get this to sync with an archivesspace instance which I got to work under the demo environment for islandor

[2021-10-29 17:26] noahwsmith opened #192 "Make local and make demo need to be updated to use Islandora 2.x"
From @rosiel

[2021-10-29 20:06] aOelschlager commented on #181
I also had the same error running local using Ubuntu 20.04 on Windows 10 with WSL 2. When I remove the generate secrets parts out of the makefile it runs as expected. Is this related to this [bug](https://github.com/Islandora-Devops/isle-dc/issues/175#issue-953047235)?

[2021-10-31 23:21] RaspberryProgramming commented on #191
I noticed that there were a few modules missing. I had to do the following once islandora was successfully installed.

Once the isle-dc repo install is done, there is a few steps before you can get it fully functional. You MUST install a few modules via commands

First find the container id by running
docker container ls
You'll get a list of docker containers, select the one that says islandora/dr

[2021-11-01 12:22] ajstanley commented on #191
@RaspberryProgramming - check to see if you have a Solr core (Mine has been failing on recent builds)  If you navigate to http://islandora.traefik.me:8983/solr/#/ and there are no cores there you can grab this - https://github.com/ajstanley/Islandora-SOLR-Core-Builder.git, stick it anywhere on your server and run it.  (Instructions are in the README)
It builds the ISLANDORA Solr core for you.

[2021-11-01 13:46] RaspberryProgramming commented on #191
Thank you for the suggestion, but for some reason that doesn't fix it. Although I did notice there was a missing solr core, I'm still getting the same error, and the same logs in islandora. I noticed that solr doesn't have any logs either so I suspect that islandora doesn't even get to communicate with solr. Hopefully this will prevent further problems once I figure out how to fix the current issu

[2021-11-01 16:17] ajstanley commented on #191
Ah!  I've updated the script.  Solr in its infinite wisdom needs an empty
configsets dir.
Do a fresh pull, make sure search_api_solr is installed.  When you add the
server use HTTP, and set the server to solr, rather than localhost.

On Mon, Nov 1, 2021 at 10:47 AM Camerin Figueroa ***@***.***>
wrote:

--
Alan Stanley
Community Outreach Coordinator
Spinal Cord Injury, PEI

☎ *902-393-0017*

[2021-11-03 21:02] RaspberryProgramming commented on #191
So far, I was able to get it installed to be fully functional. I'll see if there is any way for me to modify my fork so I won't need to install the docker modules manually. so far, running https://github.com/ajstanley/Islandora-SOLR-Core-Builder after I installed the solr api modules in the drupal container fixed my solr issues, but did not fix all of the missing modules which I still need to run

[2021-11-03 23:27] ajstanley commented on #191
I run *composer require islandora/islandora_defaults:dev-8.x-1.x* on my
builds, then run the migrations from the UI, but your needs may be
different.

On Wed, Nov 3, 2021 at 6:02 PM Camerin Figueroa ***@***.***>
wrote:

--
Alan Stanley
Community Outreach Coordinator
Spinal Cord Injury, PEI

☎ *902-393-0017*

[2021-11-16 19:40] Natkeeran opened #196 "Error with make local"
Running into the following error when trying to use make local.  Make demo works.

[code]

[2021-11-17 16:22] DonRichards commented on #161
I don't seem to be having any issues any more on the development branch.

[2021-11-17 16:26] noahwsmith commented on #196
I recommend that we look at accepting #160 to address this issue. All of these issues with the d9 upgrade have been resolved there for `make local`.

[2021-11-18 15:36] DonRichards commented on #161
@thomasdeater This build still suffers from a docker-compose version issue. This might be the issue for you. Are you using docker-compose 2.x or greater? Is so downgrade to 1.x. That seems to work for me

[2021-11-18 15:37] DonRichards commented on #135
This is still an issue with the default build process and needs attention.

[2021-11-23 08:49] nigelgbanks commented on #184
Duplicate issue: https://github.com/Islandora/documentation/issues/1892

Pull request to address the issue: https://github.com/Islandora-Devops/isle-dc/pull/198

[2021-11-24 08:12] nigelgbanks commented on #184
Resolved by #198

[2021-11-24 08:12] #184 closed, assigned to nigelgbanks

[2021-12-07 22:01] jasonhildebrand commented on #163
After bumping the version in my .env file to the latest version (1.0.0-alpha-10) and restarting (pulling) containers, I can confirm that the extracted text derivative is now being created as expected.

Thanks for all involved for tracking down and resolving this issue.

[2021-12-07 22:01] #163 closed, assigned to nobody

[2021-12-14 13:16] DonRichards opened #200 "Log4j version is past EOL"
## Log4j 1.x EOL was on August 5, 2015
https://logging.apache.org/log4j/1.2/

This needs to be updated to the latest compatible version if possible.

[2021-12-15 15:52] DonRichards commented on #180
@bondjimbond Do we know where this path is incorrectly specified?

[2022-01-04 15:58] bseeger opened #205 "Move away from traefik.me for certs?"
Right now Islandora uses the traefik.me cert for the demo (local, too?) environment.  Many sites will use this as their development environment, as we do at JHU.

Since the cert is so public and we have no control over it, it's susceptible to being revoked by *anyone, anywhere*.  And, separately, when it expires, community members can't fix it.  Recently it's been revoked by someone a few times an

[2022-01-10 19:43] DonRichards opened #206 "Solr is outputting odd/binary-ish characters"
To use `ss_field_alternative_title` as an example. Once the data is put it outputs multiple values `ss_` and `sort_X3b_en_`. You'll notice the odd text in `sort_X3b_en_`. Although this possibly needed for something (maybe, I don't know what) it was suggested from the Solr community to just simply set  DocValues as stored to false.

What seemed to work for me is changing the line in the **schema_ex

[2022-01-10 20:59] legfesnak commented on #181
had similar problem. @aOelschlager what code did your remove? I tried just lines around 275-285 and got an error no target generate secrets etc.

[2022-01-12 20:50] joshdentremont commented on #189
PR 204 (https://github.com/Islandora-Devops/isle-dc/pull/204) should fix the first issue of looking for an undefined secret file.

[2022-01-13 17:56] kspurgin opened #212 "Error loading/viewing node pages (A valid cache entry key is required)"
This error occurs when you try to load/view a node page. So:

- after you add a new content node via the form and save (when it tries to show you what you just added)
- when you click the title links in the /admin/content view.

In the browser you just see "The website encountered an unexpected error. Please try again later."

In the logs, the error is:

[code]

Someone also [asked about this on t

[2022-01-14 03:01] DonRichards commented on #212
WOW, this one was tricky to automate a fix. :smiley: Also found a simple way to trigger the error as a simplified way to test fixes. Just run `drush cron` should trigger the error every time until the fix is applied. The PR is a working solution. I'd call it a band-aid for now.

[2022-01-14 03:20] DonRichards commented on #212
Reviewing the build process log and I see a couple of things that needed attention. Most significantly is the Flysystem module isn't installed via the database import like it does for the `make demo` process.

[2022-01-14 15:04] kspurgin commented on #212
RE: Flysystem: this has been an issue with `make local` for a while. There's a separate issue for it still open: #136

[2022-01-20 20:45] DonRichards commented on #136
So it looks like the build process needs Fedora exposed to work. In some cases adding "**True**" to the `.env` file for fedora seems to have corrected the Flysystem issue. Just modify your file, then run `make pull` then `make up` and it should be fine.

[2022-01-28 18:40] DonRichards opened #217 "Broken link on homepage of isle-dc"
Possibly isolated to demo (didn't check). The "Documentation" link at the top nav bar is pointing to CLAW. This wasn't an issue before because it would redirect but now it 404s.
![Screenshot](https://user-images.githubusercontent.com/2738244/151603475-bbca228f-74c8-4c2c-9e2d-e78821398cb5.png)

[2022-01-28 18:42] DonRichards commented on #217
This is also the behavior for the sandbox.

[2022-02-02 15:13] kylehuynh205 opened #218 "Permission issue - Operation not permitted"
Hello, I'm building isle-dc ([branch install-profile](https://github.com/Islandora-Devops/isle-dc/tree/install-profile)) in the Mac with `sudo make local-install-profile`. Nat is building the same branch in Ubuntu, but this issue doesn't occur.

I'm wondering anyone with Mac running into the same issue ? Thank you.

[code]

[2022-02-04 17:40] joshdentremont commented on #143
I have been looking into this, but was unable to get things fully working. We have decided to go another route, but I thought I would share my findings so far:

1. You need to edit the COMPOSE_PROJECT_NAME variable in your .env for at least one of the instances or else they will clash on Docker container names and existing ones will be overwritten
2. You need to change the DOMAIN variable in your

[2022-02-07 20:00] kylehuynh205 commented on #218
With J.J Bennett's help, solved this issue by:

- Set the CURDIR before running make command by `export CURDIR=/path-to-isle-dc/isle-dc`
- Avoid running sudo with make command, ie: run `make local-standard` instead of `sudo make local-standard` in Mac, Ubuntu doesn't have this issue.

[2022-02-07 20:00] #218 closed, assigned to nobody

[2022-02-08 14:02] joshdentremont opened #220 "Unable to manually set secrets"
There doesn't seem to be a way to create your own secrets. When running make local it will generate random secrets, and if USE_SECRETS=true it will set the passwords to those secrets, otherwise it sets them to 'password'. Changing the secrets files, or changing USE_SECRETS after this initialization doesn't seem to do anything.

The biggest issue that I see with this is that if you follow the instr

[2022-02-08 14:30] noahwsmith commented on #220
@Tristaan built the secrets generation engine here, I think. Any thoughts, Tristan ?

[2022-02-08 16:19] misilot opened #221 "Refactor Idea"
To move the `docker-compose.*.yml` templates used with `make docker-compose.yml` to a sub directory.

Doing this would clean up the root directory and have the singular `docker-compose.yml` that is compiled + a system `docker-compose.override.yml`

[2022-02-09 18:23] kstapelfeldt commented on #221
Don thinks this is a good idea (from the tech call).

[2022-02-09 18:25] kstapelfeldt commented on #221
@misilot would you be willing to submit a pull request for this?

[2022-02-09 18:53] misilot commented on #221
@kstapelfeldt i can take a stab at it. It will probably once I get a working install that I can migrate Config to from an older "tag/branch" of isle-dc

[2022-02-09 19:03] DonRichards commented on #220
From the tech call: I believe this is already doable and is just an order of operations problem. I'll test my theory really quick this afternoon and get back to you.

[2022-02-09 19:10] misilot commented on #221
@kstapelfeldt would it make sense to move some of the other things into a "build" type of directory as well?

[2022-02-09 19:15] kstapelfeldt commented on #221
I must say I don't know, and the meeting is over, but there was general enthusiasm for the direction you are suggesting! You could try the slack channel for more feedback?

[2022-02-09 20:44] misilot opened #224 "Custom entrypoint for drupal container"
I noticed when trying to build `isle-dc` it sometimes fails because mysql isn't up.

Not sure if something like the following be added to the entrypoint for the containers that require the database to be up such as drupal. It might need to be smart and either check postgresql or mysql depending on the environment.

[code]

[2022-02-09 21:01] nigelgbanks commented on #224
There used to be, though it causes issues when debugging/developing. It would make a nightmare of a debugging situation if something is off about the DB in something like AWS ECS, as the container would just die continually and you couldn't exec into it to debug the situation. Ideally the containers should do little too nothing on startup, aside from generating files from templates setting permiss

[2022-02-09 21:05] misilot commented on #224
Let me see if I can get it to generate the error.

[2022-02-09 21:10] misilot commented on #224
Here is a snippet of the end of the log from `make local` from the `development` branch

[code]

If I run `make local` again it does complete.

I do see this on the second run.
[code]

[2022-02-09 21:17] nigelgbanks commented on #224
hmm looks like an configuration issue? I'll try to reproduce

[2022-02-09 21:20] misilot commented on #224
Steps to reproduce

1. `git clone https://github.com/Islandora-Devops/isle-dc.git`
2. `cp sample.env .env`
3. Edit `.env` and set `ENVIRONMENT=local`
4. Edit `.env` and set `USE_SECRETS=true`
I also set `INCLUDE_WATCHTOWER_SERVICE=false` and my domain.

[2022-02-09 21:46] nigelgbanks commented on #224
I've tried multiple times, always from a clean state. I can't seem to reproduce it. Do you have any other changes locally?

I've attached the full log [logs.txt](https://github.com/Islandora-Devops/isle-dc/files/8036416/logs.txt).

I can't seem to pinpoint what's off, can you attach a full log.

[2022-02-09 21:50] nigelgbanks commented on #224
Hmm actually

[code]

What version of docker and docker-compose are you using? Please run the following and attach your output.

[code]

[code]

[2022-02-09 21:57] misilot commented on #224
Here are my changes, and output

`diff sample.env .env`
[code]

`docker info`
[code]

`docker-compose --version`

[code]

Output from `make local`
[code]

[2022-02-09 22:23] nigelgbanks commented on #224
It's super weird.

`Missing option --port and fallback environment variable DB_PORT` is coming from [here](https://github.com/Islandora-Devops/isle-buildkit/blob/main/base/rootfs/usr/local/bin/create-database.sh#L130-L132). Since you and `isle-dc` doesn't define a value for `DB_PORT` it should use the fallback which would be set [here](https://github.com/Islandora-Devops/isle-buildkit/blob/main/ba

[2022-02-09 22:33] misilot commented on #224
It's a t3a.large instance in AWS. 2vCPU, 8GB of memory.

[2022-02-09 22:37] g7morris commented on #224
@nigelgbanks Going to chime in and say I see this error `Missing option --port and fallback environment variable DB_PORT` all the time on multiple projects that I've built for the first time especially. I think it is a race condition of some kind as you pointed out the call is to the db is happening prior to the finishing of said container initialization (Maybe S6 needs more time?). Perhaps a slee

[2022-02-09 22:44] nigelgbanks commented on #224
So I think this might resolve it give this branch a try https://github.com/Islandora-Devops/isle-dc/tree/issues-224
Just a single line that waits until the services in the drupal container have started so all initialisation has completed.

[2022-02-09 22:56] misilot commented on #224
[code]

[2022-02-09 23:01] nigelgbanks commented on #224
Looks like you didn't try the branch? since line 117 should now have my change the error you would get should be on 118 if you've tested with the changes I've made on the branch https://github.com/Islandora-Devops/isle-dc/tree/issues-224

[2022-02-09 23:08] misilot commented on #224
Whoops I did the wrong branch 212 istead of 224. I will try again tomorrow with the right branch.

[2022-02-10 00:54] misilot commented on #224
Could do you a poll say every 5-10 seconds up to a minute?

[2022-02-10 02:03] DonRichards commented on #220
Just tested this and it doesn't seem to be working now.

[2022-02-10 07:51] kayakr commented on #192
The current demo (isle-dc release `islandora/drupal:1.0.0-alpha-11`) installs Drupal 8.9, that is [EOL from 2 November 2021](https://www.drupal.org/psa-2021-06-29).
Per @rosiel's question it's not clear how to update the demo codebase.

`docker-compose exec -T drupal with-contenv bash -lc 'cat composer.json'` shows the requested drupal core, e.g.  `"drupal/core": "^8.9"`

This should be updated to

[2022-02-10 09:55] nigelgbanks commented on #224
Did it work for you?

[2022-02-10 13:59] rosiel commented on #192
Merging #160 will solve some of this, including changing where the composer requirements are defined (https://github.com/Islandora-Devops/islandora_install_profile_demo/blob/main/composer.json). However, there's still a lock file upstream, in the islandora-sandbox, and we need a way to keep that up to date.

BTW, were you able to recently  use `make demo` to install the old Drupal 8.9 site? I thou

[2022-02-10 14:19] joshdentremont commented on #220
@DonRichards I couldn't find a way to do it either. It seems to be baked into `make local` to create and then use the secrets.

Another possible solution I am thinking about would be to remove USE_SECRETS (have it always be true) and instead add a variable called MANUAL_SECRETS. If manual secrets is set to true then it should not automatically generate them, but instead the user would have to copy

[2022-02-10 14:23] misilot commented on #224
@nigelgbanks sorry, it got to be the end of the day yesterday.

I just ran threw `make local` twice, and worked perfectly both times.

Thanks!

[2022-02-10 14:50] nigelgbanks commented on #224
Cool I'll raise a pull request.

[2022-02-10 15:18] DonRichards commented on #220
@joshdentremont I just pushed an pull request on this to address most of this (I think) https://github.com/Islandora-Devops/isle-dc/pull/226

[2022-02-10 19:10] kayakr commented on #192
Yes, `make demo` worked for me last night. I manually changed `.env` to specify `TAG=1.0.0-alpha-11`.
 Transcript of buiild attached.
[isle-dc-make-demo-transcript-alpha11-20220210.txt](https://github.com/Islandora-Devops/isle-dc/files/8043634/isle-dc-make-demo-transcript-alpha11-20220210.txt)
I haven't tested much yet. Beyond Drupal core 8.x being unsupported, other modules/versions like Automati

[2022-02-11 17:37] misilot commented on #224
Fixed by #225.

[2022-02-11 17:37] #224 closed, assigned to nobody

[2022-02-23 19:18] ajstanley opened #230 "LDAP cannot be installed"
To run the LDAP module, PHP's LDAP extension must be enabled on the server.  Unfortunately, Alpine doesn't come with apt-get and there is no way to add the module to the container.

@nigelgbanks kindly added this module to the underlying nginx container, but those changes have not propagated down into the current containers.

Ideally, we'd be able to replace the Drupal container on a running site

[2022-02-23 20:06] joshdentremont opened #232 "Issues with building and deploying custom container"
When following the steps at https://islandora.github.io/documentation/installation/docker-custom/#building-and-deploying-your-custom-container I am getting an error at the `make build` step:
[code]

This causes the Drupal container to continuously restart.

[2022-02-24 08:45] nigelgbanks commented on #230
@ajstanley If you set `TAG=25edadbae83e45bafedeff39eebe0b16664334e4` you can use the image with LDAP

[2022-02-24 13:40] ajstanley commented on #230
Thanks @nigelgbanks!  The php -m shows ldap now, but installing the ldap module brings a world of pain -
[code]

[2022-02-24 14:07] ajstanley commented on #230
Also, this image will not run unless the matomo module is uninstalled.
`2022/02/24 14:02:01 [error] 1006#1006: *1 FastCGI sent in stderr: "PHP message: TypeError: in_array() expects parameter 2 to be array, null given in /var/www/drupal/web/modules/contrib/matomo/matomo.module on line 66 #0 /var/www/drupal/web/modules/contrib/matomo/matomo.module(66): in_array()
`

[2022-02-24 14:22] nigelgbanks commented on #230
https://git.drupalcode.org/project/matomo/-/blob/dc9773fdc963c97122379884e191ec3056018687/matomo.module#L66

[code]

That looks some other aspect of the site that is messed up perhaps an install from configuration which used an earlier version of matomo is to blame?

Looks like `grahl/ldap` `5.x` cannot be used with Drupal 9 as it [conflicts](https://packagist.org/packages/grahl/ldap#v5.2.0.1) (as

[2022-02-24 15:08] joshdentremont opened #233 "Unclear about custom environment"
It is unclear to me from the docs what the custom environment is actually doing. Is this a necessary process for running a production site, or is it ok to run a production site with the environment set to local?

Should we update the docs at https://islandora.github.io/documentation/installation/docker-custom/ to explain what it means to create a custom Drupal container vs bind mounting the codeba

[2022-02-24 15:20] ajstanley commented on #230
It may all be moot - I was able to install another LDAP module - `composer require 'drupal/ldap_auth:^1.26'` without any issues.  I'm testing it now.

[2022-02-24 15:34] nigelgbanks commented on #232
Can you provide full steps to reproduce, from a clean state? I'm assuming this might be happening in a bind mounted folder and the folder on your host wherever `sites/default` is, is not writable by the `nginx` user. Steps to reproduce will allow me to fix it.

[2022-02-24 16:53] joshdentremont commented on #232
I just followed the instructions in the docs to make local and then change to custom. It's happening on Mac and Linux
Here are the steps I just did to reproduce it:
[code]
Change environment to local in the .env
`make local` and enter password when prompted
`make down`
Change environment to custom
[code]
after make up is finished the drupal container keeps restarting

[2022-02-24 18:23] nigelgbanks commented on #232
Surprisingly `drush site-install` marks the directory `/var/www/drupal/web/sites/default/` as non-writable by anyone. Which under normal circumstances would be fine as the `settings.php` file is already generated, but the the custom image build step removes the `settings.php` so a new one cannot be copied. I think the correct way to handle this as you pointed to is in the Drush script to account f

[2022-02-24 18:53] nigelgbanks commented on #221
Something to add perhaps we could remove the requirement to make the `docker-compose.yml` and instead use
`COMPOSE_FILE=docker/docker-compose.cantaloup.yml:docker/docker-compose.database.yml:...` in the `.env` file.

[2022-02-24 19:12] misilot commented on #221
using the `make -B docker-compose.yml` command has it's advantages that it compiles a single docker-compose.yml that you can use an docker-compose.override.yml with fairly easily.

You would still have to use `make <somecommand>` if the `docker-compose.yml` isn't being created on the system to have access to the environment variable `COMPOSE_FILE`, and users wouldn't be able to just run arbitrary

[2022-02-24 20:16] nigelgbanks commented on #221
@misilot if you have a `.env` file with `COMPOSE_FILE` set you can use `docker compose` commands directly, there isn't a need for the `docker-compose.yml` file in such a case.

What we would lose is the way that some compose files are included dynamically though settings like `INCLUDE_WATCHTOWER_SERVICE=true`, instead users would have to add the docker file to the list of docker files in `COMPOSE_

[2022-02-24 21:22] misilot commented on #221
Oh, I was thinking of `docker-compose` and not `docker compose`. I am still in `docker-compose` land of thinking.

Which there are a lot of customization based on flags and the way variables are set, including all the variable interpolations, but if it can be uncomplicated I think that would be great!

[2022-02-25 23:47] ysuarez opened #235 "Make demo and make local fails if CURDIR has spaces in it"
I believe that if you have spaces in the path for the isle-dc repo on your system, `make demo` and `make local` will fail.

I was using a path similar to this...

`/home/yamil/isle tests/isle-dc`

This of course leads to Make setting the CURDIR to a path with spaces, and then also leads to the makefile generate-secrets target to run commands that fails since it gets parsed as...

[code]
(I was abl

[2022-02-25 23:52] ysuarez commented on #235
BTW, if folks want to go with the approach of adding quotes to the use of $(CURDIR) I can create a PR for that change.

[2022-03-02 18:15] ysuarez commented on #235
At today's tech call I proposed making a PR that will wrap the use of `$(CURDIR)` in double quotes, so that running make commands work even if the full path to isle-dc has spaces in it.

[2022-03-02 19:35] nigelgbanks commented on #233
The repository probably needs a revisit in design at some point to align with actual use cases. The original intention is to have a way to package a Drupal site into a image that could then be deployed elsewhere. Though as you've found no one used it and overtime things changed. By and large I think a production site should be managed under its own repository. Probably have some layout like (this

[2022-03-02 19:54] noahwsmith commented on #233
I'm very much in favor of this reorg. In our internal repositories (which diverged from isle-dc a long time ago) we have essentially done this.

[2022-03-04 11:24] jjakob commented on #220
I was @Tristaan 's supervisor at the company where he was tasked to create this. He's no longer employed at our company (as of 4 months ago) so I've taken over his duties. When this was PR'd, my intention was to incorporate a secrets-generating script that I had already written, that already did work correctly (it checks if live secrets already existed and didn't overwrite them, and supports rando

[2022-03-04 21:16] ysuarez commented on #235
@DonRichards  (and others) I have been experimenting with Makefile syntax (I had never used Makefiles this complex before), and wondered what you (all) thought of something.

my original plan was to just wrap the use of $(CURDIR) in double quotes from this...

`-v $(CURDIR)/secrets:/secrets \`

to this...

`-v "$(CURDIR)/secrets":/secrets \`

and I wondered how would you want to handle lines like

[2022-03-09 18:33] DonRichards opened #238 "Draft: Makefile needs to include tests"
PHP unit tests

[2022-03-09 22:01] jasonhildebrand commented on #206
I saw these fields recently when working on islandora and was confused by them.  I can't imagine that anything in islandora would rely on the presence of these fields, which don't contain usable data.  I don't see any downside, realy.  In the unlikely case that there is an impact from setting useDocValuesAsStored="false", this change can be easily reverted.

[2022-03-11 20:07] misilot commented on #235
I believe this is resolved by #237 ?

[2022-03-16 16:53] ysuarez commented on #235
In an attempt to be thorough I want to paste a comment that @misilot put in PR #237

"...
I believe this is limitation with Make per this really old bug report http://savannah.gnu.org/bugs/?712
..."

Based on the info above, If we are running into a limitation of Make, to have spaces in its path, then should I/we revert the parts of my PR #237 that tried to fix this issues incompletely? Then just

[2022-03-16 18:59] ysuarez commented on #235
I will close this ticket. @DonRichards  code provides a pretty clear error message for folks that fall into this situation. @misilot thanks for adding more info to this issue.

[2022-03-16 18:59] #235 closed, assigned to ysuarez

[2022-03-18 05:02] kayakr opened #240 "make demo fails with Access denied for user 'root'@'isle-dc_drupal_1.isle-dc_default'"
isle-dc on `3e77d34` commit, vanilla `.env`, MacOS:
[code]

[2022-03-18 05:13] kayakr commented on #240
Try changing `.env` to `USE_SECRETS=false`, `make demo` gets a little further then prompts for a password but it's not clear what component is asking for credentials or which credentials to supply...

[code]

[2022-03-18 05:16] kayakr commented on #240
Looks like local user password was needed prior to
`docker cp "{redacted}/projects/isle-dc/demo-data/public-files.tgz" $(docker-compose ps -q drupal):/tmp/public-files.tgz`

[2022-03-18 05:36] kayakr commented on #240
`make demo` just ends after
`Action processing results: Emit a media event to a queue/topic (121).`
It doesn't announce that make is completed or what URL to visit.

Tried to login to https://islandora.traefik.me/ using 'admin' and 'password' but rejected. Used `docker-compose exec -T drupal with-contenv bash -lc 'drush --root /var/www/drupal/web uli 1'` instead.

- [x] docs need updating now `mak

[2022-03-23 17:19] rosiel commented on #240
Unfortunately it is my belief that the "demo box on docker hub" which is used by `make demo` was clobbered over with the "demo box on docker hub" which was meant for `make demo-install-profile`. So you're probably getting the install profile box but trying to run some commands that don't work.

The documentation hasn't been updated in part because the install profile pull request on isle-dc is sti

[2022-03-24 14:13] g7morris opened #241 "Demo - Service URLs return 502s or 404 page not found errors"
## isle-dc

### Results

* Error can be reproduced in either Test Environment stated below using any of the three URLs in the Testing section.

**ERROR**

* `FLYSYSTEM: FEDORA - http://islandora.traefik.me:8081/fcrepo/rest/ returned 502`

![Screen Shot 2022-03-24 at 10 01 37](https://user-images.githubusercontent.com/501554/159934868-ab37dbbe-2a78-4907-bb0c-b025d78c4327.png)

### Question

* Shoul

[2022-03-24 14:43] g7morris commented on #241
Oh boy looks like the following URLs also don't work on the Demo. Changing title of issue

| Service     | Url                                                                                            | Working / Not working  |
| :---------- | :--------------------------------------------------------------------------------------------- | :----------            |
| Drupal      | [https://islandor

[2022-03-24 14:47] g7morris commented on #241
Never mind. I'm wasting time here. Default .env is set to NOT expose the services in the demo. Ignore this. User error. Closing ticket.

[2022-03-24 14:47] #241 closed, assigned to nobody

[2022-03-24 18:16] noahwsmith commented on #240
@nigelgbanks can you comment on Rosie's assessment, please?

[2022-03-24 18:17] noahwsmith commented on #240
Oh, and Willow re-tested #160 again this week - we're ready to sign off on that. Me/Don/Danny are the primary authors. Do we need someone else to hit the merge button, now that Willow is on our team too?

[2022-03-25 19:45] rosiel commented on #240
Documentation updated: https://github.com/Islandora/documentation/blob/main/docs/installation/docker-demo.md

[2022-03-25 19:54] noahwsmith commented on #240
Beautiful! Thanks Rosie!

[2022-04-05 22:00] rbos opened #245 "fcrepo container not listening to port 80?"
I updated from quite an old build, to 1.0.0-alpha-14, and then to -15 using the "make pull" method, and it went more or less smoothly, and I'm stuck on one issue: PDFs won't display. I also did a "git pull" against the latest isle-dc development branch to get the most recent docker-compose files.

* A test item shows a blank space and "Missing PDF file[sic]". Expanding 'more information' shows `Me

[2022-04-05 22:35] mjordan commented on #245
Adding to @rbos' findings, on this server it is also not possible to upload any "original files". Just tried with a PNG which resulted in the following message in the Drupal log:

So, additional indication this is an issue with fcrepo's availability.

[2022-04-06 13:30] noahwsmith commented on #245
Oh, I wonder if this is Fedora needing to do the internal upgrade from F5 to F6, or similar. Could you provide the output from boot to crash (I'm assuming these symptoms mean the fedora container has crashed) for Fedora, via `docker-compose logs -f fcrepo`?

[2022-04-06 14:28] rbos commented on #245
The fcrepo container is running, and there's a tomcat instance in it. No obvious errors that I saw.

[code]

[2022-04-06 15:33] noahwsmith commented on #245
Hmm, so is it a permissions problem?

My advice is to spin up a new instance of ISLE on a dev box and compare the resulting `docker-compose.yml` file as well as the permissions within the Fedora datastore to the one in the older app.

[2022-04-06 15:37] rbos commented on #245
I guess it could be? But the error message makes me think it's trying to access :80 on fcrepo, but there's no service on there listening to :80. So either something is misconfigured to point at the incorrect port, or there should be a service on fcrepo that proxies to tomcat.

I'll build a fresh .env from the latest sample.env on our dev server and see what the docker-compose looks like, I guess.

[2022-04-06 17:53] misilot opened #246 "Setting APP_ENV Variable?"
Would it make sense to create an `APP_ENV` variable that has settings like `prod`, `test`, `dev` that can be used to put safeguards onto to some of the Make commands?

[2022-04-06 18:05] ajstanley commented on #246
I like that idea, especially if we document what we expect to be in place
for each environment.  (Certs in place, conventional ports exposed etc)

~ Alan

On Wed, Apr 6, 2022 at 2:53 PM Tom Misilo ***@***.***> wrote:

--
Alan Stanley
Community Outreach Coordinator
Spinal Cord Injury, PEI

☎ *902-393-0017*

[2022-04-06 19:54] DonRichards commented on #245
Here's a list of things to check to save some time and effort.

Fedora needs to be exposed ([EXPOSE_FEDORA=true](https://github.com/Islandora-Devops/isle-dc/blob/development/sample.env#L96)) and this is where you set the port. Make this change in your `.env` file then make down/pull/up

**/admin/config/media/file-system**
change "Default download method" to fedora

If you're checking via pdf viewe

[2022-04-06 19:58] mjordan commented on #245
Thanks Don. The PDF viewer is rendering so it's probably OK, but it will be good to check. The likely problem is that the PDF files aren't accessible to the viewer.

[2022-04-06 20:11] rbos commented on #245
Okay; I had EXPOSE_FEDORA already set, so that wasn't it, and changing "default download method" and restarting didn't change anything, but I did a fresh make down/pull/up, and re-applied our SSL settings to docker-compose.yml, and it seems to be rendering the PDFs now.

I think this ticket can be closed, if @mjordan will verify that uploads are working again as well.

[2022-04-06 21:11] librarychik commented on #245
@rbos I was able to upload an image file and docx file.  (yay)

[2022-04-06 22:55] rbos commented on #245
Tentatively closed, then.

[2022-04-06 22:55] #245 closed, assigned to nobody

[2022-04-08 00:16] misilot opened #249 "Should secrets be stored in the "codebase" directory?"
Since if you were to try and restore a system using your codebase directory and isle-dc will depend on values in the "secrets" folder being restored retained (druapl database credentials at least)?

And will run into a chicken and egg of the secrets don't exist when trying to create a new system with an existing codebase.

Just food for though.

[2022-04-08 00:44] misilot commented on #249
Maybe not, #226 may solve my concerns I was running into.

[2022-04-13 17:20] rosiel commented on #246
tech call: There is some enthusiasm for doing this.

[2022-04-14 21:10] DonRichards opened #250 "Documentation is missing for for_all_sites"
"**for_all_sites**" is used several times throughout the makefile but there is no documentation on what it is and how to use it.

Once the drupal container is built there is a script "/etc/islandora/utilities.sh"

There is no obvious indication it comes from the [[isle-buildkit](https://github.com/Islandora-Devops/isle-buildkit)](https://github.com/Islandora-Devops/isle-buildkit/blob/main/drupal/r

[2022-04-20 13:48] ajstanley opened #251 "OCR fails on batch ingest"
I thought we had this one sorted, but if we are doing a batch import with images being tesseracted then the process manager attempts to run more than one instance, (I think it goes for five) which overwhelms the container, and instead of seeing a new OCR we get nothing but timeouts. A single process uses about 65% of the CPU cycles.

When I'm doing migrations I pull the existing OCR over instead o

[2022-04-21 13:47] noahwsmith commented on #251
Which container tag are you testing on, Alan?

[2022-04-21 13:58] ajstanley commented on #251
alpha-15

On Thu, Apr 21, 2022 at 10:48 AM Noah W. Smith ***@***.***>
wrote:

--
Alan Stanley
Community Outreach Coordinator
Spinal Cord Injury, PEI

☎ *902-393-0017*

[2022-04-21 15:56] noahwsmith commented on #251
And with a new clone of ISLE-DC, or no?

[2022-04-21 16:03] ajstanley commented on #251
Fresh build as of a couple of days ago.

On Thu., Apr. 21, 2022, 12:56 p.m. Noah W. Smith, ***@***.***>
wrote:

[2022-04-21 16:05] ajstanley commented on #251
But let me run a few more tests before you do anything - I've run into some other problems on the server that may have obscured the real problem.

[2022-04-25 18:31] rbos opened #255 "isle-dc listening on external interfaces"
When I look at netstat on our ISLE servers, I see a lot of open ports:
[code]

Our campus Nessus server is pretty unhappy about this. The "EXPOSE_*" settings in .env don't appear to change this. I see things like

[code]
in docker-compose.traefik.yml, but commenting out those lines doesn't change the listening ports either.

Is there a supported way to force these not to listen to the network? As

[2022-04-26 13:41] misilot commented on #249
Looks like https://github.com/Islandora-Devops/isle-buildkit/blob/main/drupal/rootfs/etc/islandora/utilities.sh#L341-L400 should address this? So, I will close this.

[2022-04-26 13:41] #249 closed, assigned to nobody

[2022-04-27 17:09] misilot commented on #255
You could possibly try changing the _PORT's to 127.0.0.1:portnumber

for example

`MYSQL_PORT=127.0.0.1:3306`

Also be sure to run `make -B docker-compose.yml && make up` afterwards to rebuild your docker-compose.yml file.

Also if you are changing the `EXPOSE_` variables, in the `.env` file you need to rebuild your docker-compose file with the same command above.

[2022-04-27 19:22] DonRichards commented on #255
I'm going to quote something I just found

[code]

From what I can see the ports are listening but not bonded to a network device and can't be accessed directly according to this article. Let me know if this helps.

[2022-04-27 19:48] rbos commented on #255
I'm _fairly_ sure that they are in fact listening on the external interface since our Nessus server is complaining about them being open, so I don't think that's it.

[2022-04-27 19:50] misilot commented on #255
@rbos can you put your `docker-compose.yml` and `.env`  file in a gist, and sanitize any private information.

[2022-04-27 19:54] rbos commented on #255
Setting MYSQL_PORT to 127.0.0.1:3306 appears to work, actually, and as far as I can tell doesn't break functionality. I can netcat to localhost:3306 but not $HOSTNAME:3306. I'll continue down that line. Do you still want my config files?

[2022-04-27 20:09] rbos commented on #255
I'm happy to consider this resolved. ISLE should maybe consider making this the default; it'll harden the installation against attacks somewhat, and people can expose ports (or better yet, use an SSH tunnel) if they want.

[2022-04-27 20:09] #255 closed, assigned to nobody

[2022-04-27 20:17] misilot commented on #255
No, I think if that works that might be good.

This is what I see with the EXPOSE_MYSQL=false with nmap, where it's listening.
[code]

So what I think is happening is as the ports are being published to the traefik container, but traefik isn't actually connecting the port to the backend service, and eventually times out.

If I do enable `EXPOSE_MYSQL=true` though, I can connect from a remote syste

[2022-04-27 20:31] rbos commented on #255
Interesting. So security scanners see an open port and panic, even though it's not actually responding with a valid connection.

Well, at least this gets my metrics down. It makes me look bad to campus IT if their security scanner flags me, even if it's a false positive. :)

[2022-05-12 13:18] tkdhanasekar opened #257 "issue with Installing ISLE Docker Compose"
first time installing ISLE Docker compose followed the link to install ,
https://islandora.github.io/documentation/installation/docker-prereq/
install all dpendencies and
[code]
got the error
[code]
any clues to resolve the issue

[2022-05-12 17:06] noahwsmith commented on #257
Hi there - we're in the middle of fixing some issues, so could you please test with this branch? https://github.com/Islandora-Devops/isle-dc/tree/fixing_initial_install_options referencing https://github.com/Islandora-Devops/isle-dc/pull/248

[2022-05-13 09:52] tkdhanasekar commented on #257
[code]
[code]
give make error, for
[code]
or
[code]
or
[code]
all gives make error
sorry , can i get some clear steps to workout for demo installation

[2022-05-13 12:06] ajstanley commented on #257
after you cd into your new directory run

*git fetch*
*git checkout fixing_**initial_install_options*

On Fri, May 13, 2022 at 6:53 AM tkdhanasekar ***@***.***>
wrote:

--
Alan Stanley
Community Outreach Coordinator
Spinal Cord Injury, PEI

☎ *902-393-0017*

[2022-05-15 10:00] tkdhanasekar commented on #257
[code]
[code]
[code]
any make command will lead to make error
[code]
any more clues , we need some workable documentation to install islandora , kindly provide
if i m troubling you sorry

[2022-05-15 19:12] ajstanley commented on #257
Something else is using port 80 on your system -  make sure you don't have Apache running, or anything else that might be using that port.  There are different ways of determining this depending on your operating system.

[2022-05-16 05:18] tkdhanasekar commented on #257
yes apache using port 80 , stopped it .
now the no make error , demo installation went successfully
i got message
[code]
but url not opening

http://islandora.traefik.me/user/reset/1/secrets/secrets/login
This site can’t be reachedislandora.traefik.me
refused to connect.
or
http://192.46.225.135/user/reset/1/secrets/secrets/login
404 page not found

the installation completes successfully but not

[2022-05-16 12:42] ajstanley commented on #257
getting closer!  Are you building on your local machine, and if so Windows or Mac?

[2022-05-16 15:59] tkdhanasekar commented on #257
i am building islandora server on cloud instance (linode)
and its ubuntu 20.04,  any clues resolve the last step
thanks for inputs to resolve the make file error

[2022-05-16 22:28] ajstanley commented on #257
This one should be easy - if you want to start over, run make clean, then in your sample.env, change DOMAIN=[islandora.traefik.me](http://islandora.traefik.me/) to DOMAIN=myAWSAddress and rebuild.
You should also be able to edit your docker-compose.yml and change every instance of [islandora.traefik.me](http://islandora.traefik.me/) to whatever address AWS gave you, then run docker-compose down, f

[2022-05-17 18:52] misilot opened #258 "Alpaca Issues"
Hello,

I am currently seeing the following in my alpaca logs on release 18.

[code]

Thanks!

[2022-05-17 21:42] misilot opened #260 "Expose PHP settings to crayfish and crayfits"
Should the following

[code]
be exposed to all the crayfish and crayfits services in their respective docker-compose files?

[2022-05-18 16:05] misilot commented on #258
Looks like the canonical_url for taxonomies is being set to http://default/ ?

See https://gist.github.com/misilot/9351f7c673cbfcc15968a0b0dc296552 for my config export

[2022-05-18 17:31] ysuarez commented on #258
@misilot do you mind adding a comment based on what was suggested during today's tech call. Wondering if this could lead to an addition to the docs. Maybe a drush tips section? Also, could be helpful for others that run into this same issue.

I think they suggested that you use the `-l` or `--uri=` flags when running drush?

[2022-05-18 17:35] misilot commented on #258
From the tech call, its because `drush` not being run with -l $(SITE), so it's using the default site.

[2022-05-18 17:45] misilot commented on #260
following up on this,

Should we add those to these services https://github.com/Islandora-Devops/isle-dc/blob/development/docker-compose.crayfish.yml and https://github.com/Islandora-Devops/isle-dc/blob/development/docker-compose.crayfits.yml

and/or should be their own prefixed variables like CRAYFISH_PHP_MEM...

The only affect https://github.com/Islandora-Devops/isle-dc/blob/development/docker-

[2022-05-19 14:52] jefferya opened #262 "Alpaca event errors triggered when choosing file in the add media form"
When adding a new media item, immediately after choosing a file (and before saving the form), two events are triggered leading to the following two errors in Alpaca

* `Cannot find JSONLD URL in event message` - queue: islandora-indexing-triplestore-index
* `Failed to invoke method: .object.url[1].href on ca.islandora.alpaca.support.event.AS2Event due to - java.lang.ArrayIndexOutOfBoundsException:

[2022-05-19 14:57] jefferya commented on #262
Addendum:
* tested with PR #248 and `make local-install-profile`

[2022-05-19 20:34] jefferya commented on #258
Changing the following line helped: https://github.com/Islandora-Devops/isle-dc/blob/f259da03746c179a67f3b6e6ac0cda2e60a5c39e/Makefile#L165

On possible way to fix is:
[code]

[2022-05-20 06:32] tkdhanasekar commented on #257
i changed DOMAIN=islandora.hashlabs.in it works fine

Even though i got error in make
[code]
but my islandora demo server works fine , Thanks for the inputs
[code]
only works
but below command
[code]
not working , plz kindly help in this regard , thanks

[2022-05-20 15:16] noahwsmith commented on #258
OH I see. Jeff's solution is correct, but will force people to upgrade to alpha-19 or higher. That current line 165 should be fixed per Tom's comment to add `-l $(SITE)` in #248

[2022-05-25 17:15] rosiel commented on #257
I think the command you want is
`$ make demo-install-profile`

I think it was mis-documented in https://github.com/Islandora-Devops/isle-dc/issues/258

[2022-05-25 17:28] rosiel commented on #262
It seems this is standard behaviour, as hook_file_insert() is used to launch file actions. https://github.com/Islandora/islandora/blob/2.x/islandora.module#L169-L177

So this isn't actually an isle-dc issue, or one with that PR (though thanks for specifying what you were using!)

From the Tech Call, this does seem like something we want to address.

[2022-06-07 15:28] #221 closed, assigned to nobody

[2022-06-14 14:59] mjordan opened #264 "file_replace module not enabled but required by many other modules"
In development branch, at 606a3212a44e11621afe7dbed7d1aa2ad6afad82.

The file_replace module is not enabled during build. Yet it is required by a whole bunch of modules (which for some reason indicate they are disabled):

![file_replace](https://user-images.githubusercontent.com/403918/173606036-7b4a898b-01bb-4c97-90bb-5e0a70a92e78.png)

Enabling it via the GUI works but also results in a WSOD (wa

[2022-06-27 21:19] antbrown opened #267 "Waiting for 8983 on solr to open."
Hello,

I used to be able to run `make demo` and everything worked out of the box a few months ago, but recently this no longer seems to be the case, I get the following error during start up:

[code]

And in the `docker-compose logs` the solr container continually starts/restarts with the error: `ERROR: Logs directory /opt/solr/server/logs is not writable. Exiting`.

I can verify that directory d

[2022-06-27 21:26] rbos opened #268 "allow HTTP-only mode"
Our infrastructure has a lot of VMs behind a load-balancer, and our IT policy requires that SSL certs be handled on the LB.

Is it possible to force ISLE to use only HTTP on port 80? It is not obvious how to set that up.

[2022-06-27 21:31] antbrown commented on #267
Couple of quick notes, I tried with 1.0.0-alpha-14 and it seems to be working.

I also noticed on https://hub.docker.com/r/islandora/solr/tags there are 1.0.x releases, I tried 1.0.5 but it also didn't work, with the same error about the logs directory not being writeable.

Are these 1.0.x releases meant to be used as the TAG in our `.env` now? ie: https://github.com/Islandora-Devops/isle-dc/blob/

[2022-06-28 17:05] noahwsmith commented on #267
@nigelgbanks do you think we should mkdir and/or chown/chmod that path in here?
https://github.com/Islandora-Devops/isle-buildkit/blob/main/solr/Dockerfile

I'll admit, we haven't hit this issue at BD.

[2022-06-28 17:18] nigelgbanks commented on #267
The directory doesn't exists until `solr` program starts, it is created by the `solr` program which runs as the `solr` user, all the folders under `/opt/solr` are [owned](https://github.com/Islandora-Devops/isle-buildkit/blob/2778b477e690e2f3f3b17194b49d4cc25f09ca99/solr/Dockerfile#L28) by the `solr` user.  So on it's own the `solr` service is fine.

The error:

[code]

Must come from sharing dire

[2022-06-28 17:21] nigelgbanks commented on #267
There may be other settings etc, worth looking into that would help. I believe this is a race condition kind of bug that would only come up if the `drupal` service was ready and wrote the `solr` configuration before `solr` started up and created the `logs` directory.

[2022-06-28 21:11] antbrown commented on #267
Hi, thanks for getting back to me.

@nigelgbanks that directory looks different to the one I'm having issues with, ie `/opt/solr/server/solr` vs `/opt/solr/server/logs`

Can you confirm whether you see the same error as me when trying to start solr by itself, using the 1.0.0-alpha-15 tag?

[code]

versus, a working copy (for me):

[code]

It looks like there were a bunch of changes made to logging

[2022-06-28 22:35] nigelgbanks commented on #267
Ah yes your right, that's what I get for trying to respond during a meeting :D

Both of those versions when run on their own work for me, which would make me expect this is something to do with how `isle-dc` is setup.

Though if `docker run --rm -it islandora/solr:1.0.0-alpha-15` does not work on it's own for you that is _very very_ strange.

Does what you have locally match the digest for Docker

[2022-06-29 03:25] antbrown commented on #267
Hi @nigelgbanks,

I do get the same digest as you:

- `"islandora/solr@sha256:8cd1564698f54acc6ee76feadc3e2d22d9b9a6f851609f30d3f0bf531f906c0f"` - yours
- `"islandora/solr@sha256:8cd1564698f54acc6ee76feadc3e2d22d9b9a6f851609f30d3f0bf531f906c0f"` - mine

For some reason (I may be blind) I can't see the logs directory in the output you pasted above, either in the alpha-14 or alpha-15 directory listi

[2022-06-29 08:44] nigelgbanks commented on #267
Your not blind, that was my point, it doesn't exist in the container. It's not until `solr` program starts that the folder is created.

Hmm at this point the only thing I can think of might be some extra security layer like `apparmour` or `selinux`.

Or perhaps a very old kernel? Though `syscalls` used by things like `mkdir` should probably be fine across all the versions that docker supports. So

[2022-06-29 09:20] antbrown commented on #267
Hi @nigelgbanks,

Thanks for the informative reply - I'm learning things :)

Below is my `docker info` output, it looks like I have an older kernel version, and under the security section it has apparmor.

Keen to know what you can glean from this:

[code]

[2022-06-29 09:31] nigelgbanks commented on #267
Nothing there stands out as problematic to me, might be the `apparmour` profile?

Does the following work for you?

[code]

[2022-06-29 09:49] antbrown commented on #267
No dice :(

[code]

[2022-06-29 09:57] nigelgbanks commented on #267
Super weird...

Can you try this?

[code]

[2022-06-29 10:12] nigelgbanks commented on #267
Oh and also try this:

[code]

[2022-06-29 10:20] nigelgbanks commented on #267
If neither of those garner any insight we'll have to restore to debugging.

[code]
Then upload the `tgz` file to the Github issue

[2022-06-29 10:25] antbrown commented on #267
@nigelgbanks good thinkings, I tried checking the permissions before and after startup and they remained unchanged. However, when I run the command using the `--privileged` flag like you suggested I get a working Solr instance:

[code]

Will I need to find a way to run in privileged mode by default, so I can make use of the Makefile commands? I guess it has something to do with my user not having

[2022-06-29 10:30] antbrown commented on #267
Oops, I missed your last message about debug info, that looks like fun and I haven’t done it before so I’ll give it a go in the morning. I have to go to bed now unfortunately. Thanks for your help.

[2022-06-29 10:30] nigelgbanks commented on #267
I wouldn't recommend running in `--privileged` it's not very safe it can allow for an attacker to easily escape the container and get access to the host system, at least now we have a clue.

We might be able to find out more if we log all the system calls using `strace` it may show why `mkdir` failed.

[code]
Then upload the `tgz` file to the Github issue

[2022-06-29 10:31] nigelgbanks commented on #267
Oh be sure when you gather the debug info use the updated command I pasted with `--cap-add=SYS_PTRACE ` instead of `--privileged` as we want to test it failing.

[2022-06-29 10:56] nigelgbanks commented on #267
Hmm I think the default [seccomp](https://docs.docker.com/engine/security/seccomp/) profile for your install might be a bit messed up.

You could do a full re-install of `docker` and that may sort the issue.

Otherwise you could download the default profile and get `dockerd` to use it explicitly.

This is the [default profile](https://github.com/moby/moby/blob/master/profiles/seccomp/default.json)

[2022-06-29 18:08] DonRichards commented on #268
Pointing to the Slack discussion on this https://islandora.slack.com/archives/C019U12D44Q/p1656345103603689

I think Tom's suggestion of removing Trafik's redirect should be all that's needed to get it to work correctly. I have not tested this.

[2022-06-29 19:27] rbos commented on #268
It didn't seem to work when I tried it (I was the one in the Slack discussion), but maybe I did something wrong. Can you amplify on what lines exactly I should remove?

[2022-06-29 22:09] antbrown commented on #267
Good morning @nigelgbanks,

I had a read of the seccomp page you linked to and downloaded the default profile and followed instructions to make docker pick it up, but got this error when starting the solr container:

[code]

I didn't quite understand it but after reading a few github issues where people were having similar issues it appears runc and/or containerd.io versions were to blame, so I st

[2022-06-29 22:09] #267 closed, assigned to nobody

[2022-07-06 13:58] g7morris opened #271 "Suggestion: Move binary files in build directory to avoid increasing git repo size over time"
Just recommending that we consider moving https://github.com/Islandora-Devops/isle-dc/tree/development/build/demo-data to a separate git repo to avoid increasing git repo size over time and potentially increasing git clone or other deploy times considerably.

With every branch created, merged etc, over time these files are replicated a lot and I'm seeing this trend occurring already.

[code]

Whil

[2022-07-06 17:44] rosiel commented on #268
Have you had any luck with this since your last comment?

[2022-07-06 17:47] rbos commented on #268
Sorry, haven't had much time to look at it between other projects. It's a bit low on the list at the moment.

[2022-07-12 03:47] SnellsCorner opened #272 "Always a 404 error or "Site cannot be reached error" when I try to https://islandora.traefik.me/"
I followed the documentation exactly for creating a local developing environment. Everything runs fine on the docker desktop app. But when I try to open it in the browser it always errors. I am not sure what I am doing wrong with it. I attached my docker.compose.yml file below.

I also do not get any logs in my traefik and I have no errors in any other logs.

![Screen Shot 2022-07-11 at 11 46 31 P

[2022-07-13 21:21] islandora-community commented on #272
Hello,
If you rename the unzipped folder "islandora-sandbox" (it currently appears "islandora-sandbox 2"), does the problem resolve?

[2022-07-20 23:44] phette23 opened #277 "Unable to create demo site, Drupal not scaffolded, database creation times out"
I'm having some trouble getting Islandora running using this ISLE setup and `make demo`. The original `make` command failed with several `chown` errors:

[code]

But I saw that all the containers spun up so I opened Drupal in my browser. A couple errors about the Drupal mail module (Drupal/Core/Mail/MailManager.php) being missing were printed but those have since disappeared. When I go to create a

[2022-07-22 22:37] phette23 commented on #277
FYI I tried again after upping Docker resources across the board, still didn't work, then I tried starting again from scratch and the same genre of problems occurred (bunch of chown errors, Drupal shows some initial errors copied below). When I bring everything down & back up, I'm not even able to get to the language selection screen this time. It seems like the Drupal code was not fully copied or

[2022-07-25 16:32] rosiel opened #280 "`make local` fails, The profile islandora_install_profile_demo does not exist."
On commit `8cc8f02e085fa0c2033eb314baffc1611716c376` using `make local`,  the build fails:

[code]

[2022-07-27 17:36] DonRichards commented on #280
Should have been addressed with this https://github.com/Islandora-Devops/isle-dc/commit/9b9c20c1425430623070448ab52960414aec4d5c

[2022-07-27 18:26] rosiel commented on #280
as i mentioned, i was on a much later commit.

The problem was i had stuff in my codebase folder.

[2022-08-15 15:38] edlington opened #284 "Possible syntax error in check-secrets.sh"
Fresh clone of the latest build, commit 71eb5b5adc304c1a5541ddf025339efba5f2e2f8
Ran make local
When prompted for secrets options I think I chose the second option
After secrets are generated I get this error

Starting build/scripts/check-secrets.sh
build/scripts/check-secrets.sh: line 160: docker-compose: command not found

Read some documentation, looks like it should be docker compose (no hyphe

[2022-08-15 15:57] edlington commented on #284
My bad. On the server docker-compose was not installed. Once it was installed, the error message no longer displays.

[2022-08-15 15:57] #284 closed, assigned to nobody

[2022-09-20 12:44] rosiel opened #289 "Feature Request: make ISLE-DC alert you when it needs a password."
Maybe this is an ADHD thing, but I would really like if ISLE could 'ding' at me when it needs a password. I usually do other things while the docker containers are spinning up, but struggle to monitor the script (the intermittent motion is really distracting) and then realizing that it's been waiting for me.

[2022-09-20 15:41] jasonhildebrand commented on #267
I am running on ubuntu 20.04 and during the process of updating my isle-dc environment, I hit this same issue (ERROR: Logs directory /opt/solr/server/logs is not writable. Exiting)

I upgraded docker from 19.03.13 to 20.10.18.  Dependencies caused containerd to be upgraded from 1.3.7. to 1.6.8.

I'm confirming that the upgrade resolved this issue.

[2022-09-20 17:55] jasonhildebrand opened #290 "make demo fails due to sed issue in "make demo_content" target"
In a fresh install on ubuntu 20.04, "make demo" failed with
[code]
this turned out to be a OSX vs. GNU sed incompatibility.

I've made a fix and will post a PR shortly.

[2022-09-21 17:27] jasonhildebrand commented on #290
@DonRichards can you please test this?  (I don't have access to assign this PR to you.)

[2022-09-21 17:30] rosiel commented on #289
If `sudo` works, that's a satisfactory solution. Though (@DonRichards ) sudo might time out

[2022-09-21 23:25] lutaylor opened #292 "Update to use islandora-starter-site"
### Overview

This ticket is to implement the work completed on these related issues and remove islandora_defaults:

https://github.com/Islandora/islandora-starter-site/issues/2

https://github.com/Islandora/islandora_defaults/issues/74

### Additional details:

[Code Chill: Islandora Defaults](https://groups.google.com/g/islandora/c/uGzhTnW4TUI)
[Islandora Foundation contracting with DGI for "Mod

[2022-09-21 23:26] lutaylor commented on #292
https://github.com/Islandora-Devops/isle-dc/pull/287

[2022-09-23 19:26] rosiel opened #293 "[META ISSUE] Set up ISLE-DC with [integration?] testing"
It would be easier to make contributions to ISLE-DC if it included tests that ensured things are working properly.

** Please flesh out this issue with what kinds of tests etc**

Related: #238
Sister issue for Playbook: https://github.com/Islandora-Devops/islandora-playbook/issues/231

[2022-10-04 17:37] phette23 commented on #277
I think this boiled down to not having the right `make` version or some other minor issue. I did get the demo built after a few more tries.

[2022-10-04 17:37] #277 closed, assigned to nobody

[2022-10-05 20:46] #290 closed, assigned to DonRichards

[2022-10-11 08:22] ajstanley commented on #257
This one should be easy - if you want to start over, run *make clean*, then
in your sample.env, change *DOMAIN=islandora.traefik.me
<http://islandora.traefik.me>* to *DOMAIN=<myAWSAddress>* and rebuild.
You should also be able to edit your docker-compose.yml and change every
instance of *islandora.traefik.me <http://islandora.traefik.me>* to
whatever address AWS gave you, then run *docker-compose

[2022-10-14 12:48] rosiel opened #296 "[DOCUMENTATION] README should be clear what services are exposed by default"
The README outlines, for a demo site (though by implication for all sites unless configured otherwise) where to access various services, including Fedora, Blazegraph, Solr, etc. However [not all these services are exposed anymore](https://github.com/Islandora-Devops/isle-dc/issues/292). The README should be updated to reflect the new availability status of various services out of the box, and the

[2022-10-14 13:41] #292 closed, assigned to nobody

[2022-10-18 16:24] alxp opened #298 "Tesseract in Hypercube does not support JP2 files"
This was a side-issue that I found while investigating  https://github.com/Islandora/islandora/issues/903

Steps to reproduce:

On fresh install of ISLE-DC development branch as of 2022-10-17:

1. Create an object with model Page
2. Add a Media of type File and upload a TIFF file, checking 'Original File' in Media Use.
3. Add an object with model Page
4. Add a Media of type File and upload a JP2 f

[2022-10-20 17:46] nigelgbanks opened #299 "Remove Recast"
Currently not being used see: https://github.com/Islandora-Devops/isle-buildkit/issues/220

Will have to be done before upgrading to the 2.0 release of isle.

[2022-10-26 18:25] DonRichards commented on #296
Some updates added via the PR https://github.com/Islandora-Devops/isle-dc/pull/304/files

[2022-10-28 14:06] rosiel opened #305 "Solr does not work on `starter` or `starter_dev`"
The Solr URL configuration is not being set.

It appears to be because the [lines that do this are skipped when you're not using Islandora Defaults](url).

As far as I can tell, the call stack is:
`make starter_dev` (or `starter`) calls (`make`) `hydrate`
`make hydrate` calls (`make`) `update-config-from-environment`
`make update-config-from-environment` calls `configure_islandora_default_module`

[2022-10-31 15:23] seth-shaw-asu commented on #305
Yeah, it appears that configure_islandora_defaults _currently_ only sets search_api. Its actions can probably be rolled into configure_search_api_solr_module.

[2022-10-31 17:30] adam-vessey commented on #305
Half-tempted to suggest making things more atomic, splitting up the functions between enabling and configuring things, as with the `--existing-config` it's somewhat expected that there should be no other modules enabled.

... really, might be nice to avoid changing the configuration proper with provisioned/environment specifics (as in, that which is imported/exported) in all cases by using [Drupal

[2022-11-01 12:44] rosiel commented on #305
I'm gonna make a new issue for the "avoid changes to configuration" thing.

[2022-11-02 17:20] seth-shaw-asu commented on #305
@rosiel, okay to close with the merged PR?

[2022-11-02 17:48] noahwsmith opened #306 "In `starter` and `starter_dev` file permissions don't allow for composer commands after init"
After either `make starter` or `make starter_dev` the owner of the `web` directory appears to be root, and the `web/sites/default/settings.php` file is unwritable, even though every composer command needs to be able to append to it (apparently):

[code]

I think if we have the `composer install` be run as the `nginx` user this can be avoided. I will also fix the `u+w` aspect of the settings.php fi

[2022-11-03 15:21] rbos opened #307 "SSL error on generating derivatives"
Hi,

When we upload a new item to ISLE, thumbnails and such for new articles aren't being generated.

When we try, we get an error like [1], `SSL certificate problem`.

Our environment has some quirks: we run ISLE behind a virtual IP on a load balancer, which accepts port 443/80 traffic and handles our SSL certificate, then forwards all requests on. ISLE itself is configured to listen only on port

[2022-11-03 20:09] rosiel commented on #305
Nope. Needs

- [x] Buildkit release (automatically deploys?)
- [x] PR on ISLE-DC to use the new release

[2022-11-04 00:02] rosiel commented on #305
relevant PR: https://github.com/Islandora-Devops/isle-dc/pull/308

[2022-11-04 00:02] #305 closed, assigned to nobody

[2022-11-08 15:35] rosiel opened #309 "`starter_dev` doesn't work with a modified `.env` file"
When I `cp sample.env .env` and modify the file (setting `EXPOSE_ACTIVEMQ=true`) then `make starter_dev`, I see a bunch of containers start, and then this error:
[code]

This does not apply to `make starter`, which starts up fine with the modified `.env` file.

[2022-11-14 14:53] alxp opened #311 "Code server not working"
I've tried with make local, make demo and make starter with same result.

Also same result with secrets options 1 and 2.

### Steps to reproduce:

Edit sample.env, set EXPOSE_CODE_SERVER to true

Following the steps in the README:

make local

edit .env, set  INCLUDE_CODE_SERVER_SERVICE=true

make pull

make up

Produces the following output:

[code]

Going to the https://islandora.traefik.me:8443

[2022-11-14 19:49] noahwsmith commented on #306
It turned out that switching to run everything as nginx was going to require a full refactor. I chose to take the simpler route of just addressing the immediate issues with the linked PR.

[2022-11-21 04:04] DanRoller opened #313 "make demo fails"
Tried **make demo** multiple times which all failed, but **make local** works.
Local is good enough for me but others may need make demo.

No changes made to folder after downloading isle-dc-development.
On Windows WSL, this weekend, the error was

make demo
...
**Installed /usr/local/lib/python3.11/site-packages/certifi-2022.9.24-py3.11.egg
error: urllib3 2.0.0a1 is installed but urllib3<1.27,>=1

[2022-11-23 15:17] DonRichards commented on #313
There was an issue with the python version and library changes that was corrected yesterday. To fix it locally, remove the **islandora_workbench/** directory or run `git pull` from within the **islandora_workbench/** directory.

[2022-11-23 16:36] DanRoller commented on #313
Demo now works!  As a newbe it helps to see some test data as I hadn't yet gotten it together to ingest into the make local.
Thanks

Historical note: Pre-Covid, when our history museum was deciding on direction, I tried to install Islandora 8 and failed at every possible install method over weeks.  The focus turned to Archivesspace, with that in place, I'm back on to Islandora.

This time make dem

[2022-11-23 18:20] DonRichards commented on #313
Thanks @DanRoller, for reporting this.

[2022-11-23 18:20] #313 closed, assigned to nobody

[2022-11-25 14:54] rosiel opened #314 "Matomo configured with wrong site id"
On TAG=1.0.10, ENVIRONMENT=starter_dev, Matomo is getting configured with site id = 2, but Drupal thinks site id = 1.

When I load Matomo's UI, it displays a "no data has been recorded yet, set up below" page. It specifies that the site ID expected is 2. However Drupal's Matomo configuration has it at 1.

<img width="1403" alt="Matomo's 'no data has been recorded' page" src="https://user-images.gi

[2022-11-25 14:55] rosiel commented on #309
I think I had not set ENVIRONMENT to `starter_dev`. The ENVIRONMENT variable in .env needs to be better documented.

[2022-11-25 14:55] #309 closed, assigned to nobody

[2022-11-25 17:35] jefferya commented on #314
I can reproduce on non isle-dc site using isle-buildkit TAG 1.0.7.

Is the proper value `2` or `1`? I suspect the `2` in Matomo is from isle-buildkit during the matomo database creation, more specifically,

https://github.com/Islandora-Devops/isle-buildkit/blob/main/matomo/rootfs/etc/matomo/create-matomo-database.sql#L878

[code]

I've not found the time to dig deeper and test but the reasoning be

[2022-11-25 18:38] rosiel commented on #314
Confirmed, it's happening on ISLE-DC with the `local` configuration as well.

[2022-11-28 18:47] noahwsmith commented on #314
@nigelgbanks do you recall if that `AUTO_INCREMENT=2` was intentional? Seems maybe like a bug/typo to me...